<i18n>
{
  "es": {
    "title": "#CiclosEducativos",
    "description": "¿Quién dijo que solo se aprende leyendo?<br />Accedé a los ciclos de Educación Financiera, SeSocioTalks y La Libertad De Tus Finanzas en un contenido exclusivo.",
    "button": "¡Quiero verlo!"
  }
}
</i18n>

<template>
  <div>
    <v-card
      rounded="xl"
    >
      <v-card-text
        class="pa-0"
      >
        <v-row
          no-gutters
        >
          <v-col
            cols="12"
            sm="6"
            md="5"
            class="pa-4 pl-sm-10 pt-sm-12"
            :order="$vuetify.breakpoint.xs ? 'last' : null"
          >
            <span
              class="white--text poppins font-weight-bold d-block mb-4"
              :class="$vuetify.breakpoint.md ? 'display-1' : 'headline'"
              v-html="$t('title')"
            ></span>

            <span
              class="white--text description body-1 d-block mb-4"
              v-html="$t('description')"
            ></span>

            <div
              class="text-right text-sm-left"
            >
              <v-btn
                width="130"
                class="white--text subtitle-2"
                color="lirio-secondary"
                href="https://www.youtube.com/c/SeSocio/videos"
                target="_blank"
              >
                {{ $t('button') }}
              </v-btn>
            </div>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            md="7"
            class="image-container d-flex justify-center align-center"
          >
            <div
              class="youtube"
              :class="{'mobile': !$vuetify.breakpoint.mdAndUp}"
            >
              <img
                :src="require('../../../../assets/images/academy/youtube-logo.png')"
              />
            </div>

            <template
              v-if="$vuetify.breakpoint.mdAndUp"
            >
              <img
                :src="require('../../../../assets/images/academy/banner-desktop.png')"
              />
            </template>

            <template
              v-else
            >
              <img
                :src="require('../../../../assets/images/academy/banner-mobile.png')"
              />
            </template>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </div>
</template>

<style lang="scss" scoped>
  .v-card {
    overflow: hidden;
    background-color: black !important;
    min-height: 340px !important;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.3) !important;

    img {
      max-width: 100% !important;
    }

    .headline {
      font-family: 'Poppins' !important;
    }

    .description {
      line-height: 24px !important;
    }

    .image-container {
      position: relative;

      .youtube {
        position: absolute;
        bottom: -5px;
        right: 20px;

        &.mobile {
          bottom: 5px;
          right: 10px;
        }
      }
    }

  }
</style>