<template>
  <div
    class="carousel-container expanded"
  >
    <carousel
      hide-delimiters
      :nav="false"
      :dots="false"
      :margin="20"
      :continuous="false"
      :responsive="{
        0: {items: 1, autoWidth: true},
        600: {items: 3, autoWidth: true},
        1025: {items: cols}
      }"
    >
      <template v-if="!isXsSm()" slot="prev">
        <span class="prev">
          <v-btn text icon x-large>
            <v-icon x-large>
              mdi-chevron-left
            </v-icon>
          </v-btn>
        </span>
      </template>
      
      <template v-if="!isXsSm()" slot="next">
        <span class="next">
          <v-btn text icon x-large>
            <v-icon x-large>
              mdi-chevron-right
            </v-icon>
          </v-btn>
        </span>
      </template>

      <slot></slot>
    </carousel>
  </div>
</template>

<script>
  import carousel from 'vue-owl-carousel'

  export default {
    components: {
      carousel
    },

    props: {
      cols: {
        default: 4
      }
    }
  }
</script>

<style lang="scss" scoped>
  .carousel-container {
    position: relative;
    margin: 0px;
    padding: 0px;

    &.expanded {
      .next {
        position: absolute;
        right: -60px;
        top: calc(50% - 48px);
        z-index: 10;
      }

      .prev {
        position: absolute;
        top: calc(50% - 48px);
        left: -65px;
        z-index: 10;
      }

      ::v-deep .owl-stage-outer {
        height: calc(100% + 50px);
        margin: -25px;
        padding: 25px;
        width: calc(100% + 50px);
        padding-top: 0;
        margin-top: 0;
      }

      ::v-deep .owl-item {
        opacity: 0;
        transition: opacity 500ms;

        &.active {
          opacity: 1;
        }

        &:not(.active) {
          pointer-events: none;
        }
      }
    }
  }
</style>