<i18n>
{
  "es": {
    "title": "Todo sobre Cripto",
    "subtitle": "Todo lo que necesitas saber sobre criptomonedas, finanzas y más para volverte un experto."
  }
}
</i18n>

<template>
  <div
    class="crypto-container"
  >
    <span
      class="d-block poppins title font-weight-bold mb-sm-2"
    >
      {{ $t('title') }}
    </span>
    
    <span
      class="d-block body-1 mb-sm-2"
    >
      {{ $t('subtitle') }}
    </span>

    <carousel>
      <template
        v-for="(item, key) in cryptos"
      >
        <div
          class="pt-3 pb-6"
        >
          <scard
            :multiple="true"
            :item="item"
          ></scard>
        </div>
      </template>
    </carousel>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import Carousel from './Carousel';
  import Scard from '../Scard';

  export default {
    components: {
      Scard,
      Carousel
    },

    computed: {
      ...mapState('academy', [
        'cryptosLoaded',
        'cryptos'
      ])
    },

    methods: {
      ...mapActions('academy', [
        'getCryptos'
      ]),
    },

    created() {
      this.getCryptos();
    }
  }
</script>

<style lang="scss" scoped>
  .crypto-container {
    .title {
      font-family: "Poppins" !important;
    }
  }
</style>