<i18n>
{
  "es": {
    "all": "Ver todo"
  }
}
</i18n>

<template>
  <div
    class="guides-container"
  >
    <div
      class="mb-sm-2 d-flex align-end"
    >
      <span
        class="d-block poppins title font-weight-bold"
      >
        {{ title }}
      </span>

      <v-spacer></v-spacer>
      
      <router-link
        v-if="$vuetify.breakpoint.smAndDown"
        class="all subtitle-1 font-weight-bold lirio-secondary--text text-decoration-none"
        :to="'s-cool/' + guide + '/articulos'"
      >
        {{ $t('all') }}
      </router-link>
    </div>
    
    <div
      class="d-flex"
    >
      <span
        class="d-block body-1 mb-sm-2"
      >
        {{ subtitle }}
      </span>

      <v-spacer></v-spacer>
      
      <router-link
        v-if="!$vuetify.breakpoint.smAndDown"
        class="all subtitle-1 font-weight-bold lirio-secondary--text text-decoration-none mt-n1"
        :to="'s-cool/' + guide + '/articulos'"
      >
        {{ $t('all') }}
      </router-link>
    </div>

    <template
      v-if="loading"
    >
      <div
        class="loader-container d-flex justify-center align-center pt-8 pb-4"
      > 
        <v-progress-circular
          :size="28"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
    </template>

    <template
      v-else
    >
      <carousel>
        <template
          v-for="(item, key) in items"
        >
          <div
            class="pt-3 pb-6"
          >
            <scard
              :small="true"
              :auto-width="!$vuetify.breakpoint.smAndDown"
              :item="{
                title: item.article_title.es,
                description: item.short_description,
                image: item.photo_url.medium,
                link: `/articles/${$moment(item.created_at).format('YYYY/MM/DD')}/${item.article_title_id.es}?sscool=${guide}`
              }"
            ></scard>
          </div>
        </template>
      </carousel>
    </template>

  </div>
</template>

<script>
  import Carousel from './Carousel';
  import Scard from '../Scard';

  export default {
    components: {
      Scard,
      Carousel
    },

    props: {
      title: {
        required: true
      },
      subtitle: {
        required: true
      },
      guide: {
        required: true
      },
      items: {
        required: true
      },
      loading: {
        required: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  .guides-container {
    .title {
      font-family: "Poppins" !important;
    }

    .all {
      min-width: 100px;
      text-align: right;
    }

    .loader-container {
      min-height: 400px;
    }
  }
</style>