<i18n>
{
  "es": {
    "title": "¿No encontraste lo que buscabas?",
    "subtitle": "En SeSocio queremos que seas parte y te sientas libre de aportar tus ideas.<br />¡Contanos qué contenido te gustaría encontrar en S-Cool! Te leemos.",
    "form_title": "Contanos tu idea:",
    "form_label": "Me gustaría encontrar contenido sobre...",
    "comment_sent": "Tu comentario se ha enviado correctamente",
    "comment_send_error": "Ha ocurrido un error. Por favor intenta nuevamente",
    "error_message": "El mensaje excede los 1000 caracteres",
    "submit": "Enviar"
  }
}
</i18n>

<template>
  <div
    class="form-container"
  >
    <span
      class="d-block font-weight-bold mb-2 mb-sm-4"
      :class="$vuetify.breakpoint.xs ? 'title-3' : 'title'"
    >
      {{ $t('title') }}
    </span>

    <span
      class="d-block body-1 mb-4"
      v-html="$t('subtitle')"
    ></span>

    <span
      class="d-block subtitle-1 font-weight-bold"
    >
      {{ $t('form_title') }}
    </span>

    <div
      class="text-right"
    >
      <v-form
        v-model="valid"
      >
        <v-textarea
          solo
          no-resize
          v-model="message"
          :rules="[rules.maxChars]"
          :label="$t('form_label')"
        ></v-textarea>
      </v-form>

      <v-btn
        width="110"
        color="#6400b4"
        class="white--text mt-n3"
        elevation="0"
        :loading="sending"
        :large="!$vuetify.breakpoint.xs"
        :block="$vuetify.breakpoint.xs"
        :disabled="message.length < 5 || !valid"
        @click="submit"
      >
        {{ $t('submit') }}
      </v-btn>
    </div>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';

  export default {
    data() {
      return {
        valid: false,
        message: '',
        sending: false,
        rules: {
          maxChars: (v) => (v || '').length < 1000 || this.$t('error_message'),
        }
      }
    },

    methods: {
      ...mapActions('academy', [
        'sendComment'
      ]),

      ...mapActions('snackbar', [
        'showSnackbar'
      ]),

      async submit() {
        this.sending = true;
        await this.sendComment(this.message).then(response => {
          this.sending = false;

          if(response.data.status !== 'ok') {
            this.showSnackbar({
              message: this.$t('comment_send_error')
            });
          } else {
            this.message = '';
            this.showSnackbar({
              type: 'success',
              message: this.$t('comment_sent')
            });
          }
        });
      }
    }
  }
</script>

<style lang="scss" scoped>
  .form-container {
    .title, .title-3 {
      font-family: "Poppins" !important;
    }

    .body-1 {
      line-height: 22px !important;
    }
  }

  ::v-deep .v-textarea {
    .v-input__slot {
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    }
  }
</style>