<i18n>
{
  "es": {
    "title": "Guías",
    "subtitle": "Todo lo que necesitas saber sobre criptomonedas, finanzas y más para volverte un experto.",
    "all": "Ver todo"
  }
}
</i18n>

<template>
  <div
    class="guides-container"
  >
    <div
      class="mb-sm-2 d-flex align-end"
    >
      <span
        class="d-block poppins title font-weight-bold"
      >
        {{ $t('title') }}
      </span>

      <v-spacer></v-spacer>
      
      <a
        v-if="$vuetify.breakpoint.smAndDown"
        class="subtitle-1 font-weight-bold lirio-secondary--text text-decoration-none"
        :href="$route.path + '/guias'"
      >
        {{ $t('all') }}
      </a>
    </div>
    
    <div
      class="d-flex"
    >
      <span
        class="d-block body-1 mb-sm-2"
      >
        {{ $t('subtitle') }}
      </span>

      <v-spacer></v-spacer>
      
      <a
        v-if="!$vuetify.breakpoint.smAndDown"
        class="subtitle-1 font-weight-bold lirio-secondary--text text-decoration-none mt-n1"
        :href="$route.path + '/guias'"
      >
        {{ $t('all') }}
      </a>
    </div>

    <carousel>
      <template
        v-for="(item, key) in guides"
      >
        <div
          class="pt-3 pb-6"
        >
          <scard
            :multiple="true"
            :item="item"
          ></scard>
        </div>
      </template>
    </carousel>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import Carousel from './Carousel';
  import Scard from '../Scard';

  export default {
    components: {
      Scard,
      Carousel
    },

    computed: {
      ...mapState('academy', [
        'guidesLoaded',
        'guides'
      ])
    },

    methods: {
      ...mapActions('academy', [
        'getGuides'
      ]),
    },

    created() {
      this.getGuides();
    }
  }
</script>

<style lang="scss" scoped>
  .guides-container {
    .title {
      font-family: "Poppins" !important;
    }
  }
</style>