<i18n>
{
  "es": {
    "title_desktop": "Aprendé sobre finanzas con SeSocio S&#8209;Cool",
    "title_mobile": "Aprendé con<br/>SeSocio S&#8209;Cool",
    "subtitle_desktop": "Empezá a manejarte con criptos y volvete un experto en blockchain con nuestras guías, podcasts y videos de contenido exclusivo.",
    "subtitle_mobile": "Empezá a manejarte con criptos y volvete un experto en blockchain."
  }
}
</i18n>

<template>
  <Wrapper
    marginInner="ma-0"
    layoutWidth="100%"
    containerWidth="100%"
  >
    <template
      slot="content"
    >
      <Wrapper
        mainContainerClass="hero-container"
        marginInner="ma-0"
      >
        <template
          slot="content"
        >
          <v-row
            no-gutters
            class="fill-height"
          >
            <v-col
              cols="12"
              sm="5"
              class="d-flex justify-start align-center"
            >
              <div
                class="square pl-8 mt-16 mt-sm-0"
              >
                <span
                  class="d-block white--text poppins font-weight-bold display-1 mb-4"
                  :class="{'mobile': $vuetify.breakpoint.xs}"
                  v-html="$t('title_' + ($vuetify.breakpoint.xs ? 'mobile' : 'desktop'))"
                ></span>

                <span
                  class="d-block white--text body-1"
                  :class="{'mobile': $vuetify.breakpoint.xs}"
                  v-html="$t('subtitle_' + ($vuetify.breakpoint.xs ? 'mobile' : 'desktop'))"
                ></span>
              </div>
            </v-col>

            <v-col
              cols="12"
              sm="7"
              class="d-flex justify-end align-center"
            >
              <template
                v-if="$vuetify.breakpoint.xs"
              >
                <img
                  class="px-2 mt-6 mb-16"
                  :src="require('../../../../assets/images/academy/hero-mobile.png')"
                />
              </template>

              <template
                v-else
              >
                <img
                  :src="require('../../../../assets/images/academy/hero-desktop.png')"
                />
              </template>
            </v-col>
          </v-row>
        </template>
      </Wrapper>
  	</template>
  </Wrapper>
</template>

<style lang="scss" scoped>
  ::v-deep .hero-container {
    background-color: black !important;
    min-height: 430px !important;

    img {
      width: 100% !important;
    }
  }

  .square {
    max-width: 380px;

    .display-1 {
      font-size: 28px !important;

      &.mobile {
        font-size: 20px !important;
        line-height: 28px !important;
      }
    }

    .body-1 {
      line-height: 20px;

      &.mobile {
        max-width: 260px;
        font-size: 12px !important;
        line-height: 18px !important;
      }
    }
  }
</style>