<i18n>
{
  "es": {
    "title": "Las últimas novedades",
    "subtitle": "¡Enterate de las últimas noticias del mundo cripto!"
  }
}
</i18n>

<template>
  <div
    class="news-container"
  >
    <span
      class="d-block poppins title font-weight-bold mb-sm-2"
    >
      {{ $t('title') }}
    </span>
    
    <span
      class="d-block body-1 mb-sm-2"
    >
      {{ $t('subtitle') }}
    </span>

    <template
      v-if="loading"
    >
      <div
        class="loader-container d-flex justify-center align-center pt-8 pb-4"
      > 
        <v-progress-circular
          :size="28"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
    </template>

    <template
      v-else
    >
      <carousel
        :cols="3"
      >
        <template
          v-for="(item, key) in news"
        >
          <div
            class="pt-3 pb-6"
          >
            <scard
              :small="true"
              :auto-width="!$vuetify.breakpoint.smAndDown"
              :hide-details="true"
              :item="{
                title: item.article_title,
                image: item.image_url.medium,
                link: `/articles/${$moment(item.created_at).format('YYYY/MM/DD')}/${item.article_title_id.es}?sscool=cafe_crypto`
              }"
            ></scard>
          </div>
        </template>
      </carousel>
    </template>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import Carousel from './Carousel';
  import Scard from '../Scard';

  export default {
    components: {
      Scard,
      Carousel
    },

    data() {
      return {
        loading: true
      }
    },

    computed: {
      ...mapState('academy', [
        'newsLoaded',
        'news'
      ])
    },

    methods: {
      ...mapActions('academy', [
        'getNews'
      ]),
    },

    async created() {
      await this.getNews();
      this.loading = false;
    }
  }
</script>

<style lang="scss" scoped>
  .news-container {
    .title {
      font-family: "Poppins" !important;
    }

    .loader-container {
      min-height: 216px;
    }

    ::v-deep .carousel-container {
      .next, .prev {
        display: none !important;
      }
    }
  }
</style>