<i18n>
{
  "es": {
    "title": "Podcasts",
    "subtitle": "Disfrutá de los episodios de #LaLibertadDeTusFinanzas y aprendé escuchando.",
    "all": "Ver todo"
  }
}
</i18n>

<template>
  <div
    class="podcasts-container"
  >
    <div
      class="mb-sm-2 d-flex align-end"
    >
      <span
        class="d-block poppins title font-weight-bold"
      >
        {{ $t('title') }}
      </span>

      <!--
      <v-spacer></v-spacer>
      
      <span
        v-if="$vuetify.breakpoint.smAndDown"
        class="subtitle-1 font-weight-bold lirio-secondary--text"
      >
        {{ $t('all') }}
      </span>
      -->
    </div>
    
    <div
      class="d-flex"
    >
      <span
        class="d-block body-1 mb-sm-2"
      >
        {{ $t('subtitle') }}
      </span>

      <!--
      <v-spacer></v-spacer>
      
      <span
        v-if="!$vuetify.breakpoint.smAndDown"
        class="subtitle-1 font-weight-bold lirio-secondary--text mt-n1"
      >
        {{ $t('all') }}
      </span>
      -->
    </div>

    <carousel>
      <template
        v-for="(item, key) in podcasts"
      >
        <div
          class="pt-3 pb-6"
        >
          <scard
            :small="true"
            :item="item"
          ></scard>
        </div>
      </template>
    </carousel>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import Carousel from './Carousel';
  import Scard from '../Scard';

  export default {
    components: {
      Scard,
      Carousel
    },

    computed: {
      ...mapState('academy', [
        'podcastsLoaded',
        'podcasts'
      ])
    },

    methods: {
      ...mapActions('academy', [
        'getPodcasts'
      ]),
    },

    created() {
      this.getPodcasts();
    }
  }
</script>

<style lang="scss" scoped>
  .podcasts-container {
    .title {
      font-family: "Poppins" !important;
    }
  }
</style>