<i18n>
{
  "es": {
    "label": "¿Qué querés aprender hoy?",
    "no_data": "No hay coincidencias para tu búsqueda"
  }
}
</i18n>

<template>
  <div>
    <v-autocomplete
      solo
      dense
      clearable
      no-filter
      hide-selected
      hide-details
      prepend-inner-icon="mdi-magnify"
      append-icon=""
      :label="$t('label')"
      :items="arrayFiltered"
      :loading="loading"
      :search-input.sync="search"
      :no-data-text="$t('no_data')"
      :hide-no-data="hideNoData"
      :menu-props="menuProps"
      @update:search-input="handleSearch"
    >
      <template v-slot:item="{ item }">
        <v-list-item
          :to="`/articles/${$moment(item.created_at).format('YYYY/MM/DD')}/${item.article_title_id.es}?sscool=${item.primary_category}`"
          @click="clearSearch"
        >
          <v-list-item-content>
            <v-list-item-title v-text="item.article_title.es"></v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </template>
    </v-autocomplete>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    data() {
      return {
        timer: null,
        search: null,
        loading: false,
        hideNoData: true
      }
    },

    computed: {
      ...mapState('academy', [
        'articlesSearch'
      ]),

      menuProps() {
        return {
          zIndex: 100,
          bottom: true,
          offsetY: true,
          closeOnContentClick: false,
          maxHeight: "50vh",
          dark: false,
          contentClass: "included",
        };
      },

      arrayFiltered() {
        let filtered = [];
       
        if(this.articlesSearch.articles) {
          for (let s in this.articlesSearch.articles) {
            filtered = filtered.concat(this.articlesSearch.articles[s]);
          }
        }

        return filtered;
      }
    },

    methods: {
      ...mapActions('academy', [
        'clearSearchArticles',
        'searchArticles'
      ]),

      handleSearch() {
        clearInterval(this.timer);
        this.hideNoData = true;

        if(this.search && this.search.length > 2) {
          this.timer = setTimeout(async () => {
            this.loading = true;
            await this.searchArticles(this.search);
            this.hideNoData = false;
            this.loading = false;
          }, 300);
        } else {
          this.clearSearch();
        }
      },

      clearSearch() {
        clearInterval(this.timer);

        this.search = null;
        this.hideNoData = true;
        this.clearSearchArticles();
      },
    }
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-input {
    .v-input__slot {
      border-radius: 6px;
      border: 1px solid white;
      box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.25) !important;

      .v-label {
        font-size: 15px !important;
        color: #666666 !important;
      }

      input {
        font-size: 15px !important;
      }
    }
  }

  ::v-deep .v-input--is-focused {
    .v-input__slot {
      border: 1px solid #6400b4;

      .v-icon {
        color: black !important;
      }
    }
  }
</style>