<i18n>
{
  "es": {
    "title": "¿Cómo participar?",
    "terms": "Enterate cuáles son todos los términos y condiciones para regalar una SocioGift. <a href='https://www.sesocio.com/articles/2021/10/15/sociogift-terminos-y-condiciones'>Leer términos y condiciones</a>.",
    "steps": {
      "step_1": {
        "title": "Personalizá tu regalo",
        "title_mobile": "Personalizá",
        "text": "1. Elige el motivo de tu regalo y el monto<br />2. Completa los datos del destinatario<br />3. Elige el regalo<br />4. Confirma el envío"
      },
      "step_2": {
        "title": "¿Qué puedo regalar?",
        "title_mobile": "¿Qué puedo regalar?",
        "text": "Stablecoins y criptomonedas. ¡Mira todas las <a href='/criptomonedas'>opciones</a>!<br /><br />Próximamente otros tokens."
      },
      "step_3": {
        "title": "¿Cómo se canjea la SocioGift?",
        "title_mobile": "¿Cómo se canjea la SocioGift?",
        "text": "¡Fácil! Sigue los pasos que notifica el correo recibido."
      },
      "step_4": {
        "title": "Preguntas Frecuentes",
        "title_mobile": "Preguntas Frecuentes",
        "text": "<strong>¿Puedo enviarle la SocioGift a alguien que no sea usuario de la plataforma?</strong><br/>¡Claro que sí! Puedes regalar una SocioGift a todos tus amigos, sin importar si son o no usuarios SeSocio.<br/><br/><strong>¿Qué sucede si mi amigo no es usuario SeSocio?</strong><br/>Cuando crees la SocioGift te vamos a pedir los datos de tu amigo -nombre y correo electrónico- le vamos a mandar un correo contándole de tú regalo y deberá crear su cuenta SeSocio, registrándose con ese correo y validando su documentación.<br/><br/><strong>¿Qué hacer si cargué un correo electrónico erróneo o distinto del que usa mi amigo?</strong><br/>Comunicate con support@sesocio.com, te solicitaremos el correo electrónico que cargaste y el monto de regalo para validar, te pediremos la nueva dirección de correo electrónico para modificarla y listo.<br/><br/><strong>¿Cómo compro y envío una SocioGift?</strong><br/>En tres simples pasos:<br/>1. Elige el diseño del regalo<br/>2. Selecciona el monto de la tarjeta y el destinatario<br/>3. La SocioGift llegará directamente al correo electrónico de tu amigo<br/><br/><strong>¿Cómo puedo abonar la SocioGift?</strong><br/>Las SocioGift podrán ser abonadas con saldo en cuenta fiat o criptomoneda.<br/><br/><strong>¿De qué manera me aseguro que adquirí la SocioGift?</strong><br/>Al momento de comprar una SocioGift online, el comprador recibirá en su correo electrónico una confirmación de compra.<br/><br/><strong>¿Tiene fecha de expiración?</strong><br/>Sí. La misma puede ser canjeada hasta los 90 días desde que se recibió. Si a la fecha de expiración no fue utilizada, se te devolverá el saldo a tu cuenta SeSocio.<br/><br/><strong>¿Para qué puedo usar mi SocioGift?</strong><br/>Invertir en criptomonedas, negocios DEFI, oportunidades de criptomonedas y usarla para consumos de la tarjeta Se Socio.<br/><br/><strong>¿La SocioGift es transferible?</strong><br/>No, sólo puede usarla a quien está dirigida, es decir el titular del mail recibido."
      }
    }
  },
  "es-AR": {
    "title": "¿Cómo participar?",
    "terms": "Enterate cuáles son todos los términos y condiciones para regalar una SocioGift. <a href='https://www.sesocio.com/articles/2021/10/15/sociogift-terminos-y-condiciones'>Leer términos y condiciones</a>.",
    "steps": {
      "step_1": {
        "title": "Personalizá tu regalo",
        "title_mobile": "Personalizá",
        "text": "1. Elegí el motivo de tu regalo y el monto<br />2. Completá los datos del destinatario<br />3. Elegí el regalo<br />4. Confirmá el envío"
      },
      "step_2": {
        "title": "¿Qué puedo regalar?",
        "title_mobile": "¿Qué puedo regalar?",
        "text": "Stablecoins y criptomonedas. ¡Conocé todas las <a href='/criptomonedas'>opciones</a>!<br /><br />Próximamente otros tokens."
      },
      "step_3": {
        "title": "¿Cómo se canjea la SocioGift?",
        "title_mobile": "¿Cómo se canjea la SocioGift?",
        "text": "¡Fácil! Seguí los pasos que notifica el correo recibido."
      },
      "step_4": {
        "title": "Preguntas Frecuentes",
        "title_mobile": "Preguntas Frecuentes",
        "text": "<strong>¿Puedo enviarle la SocioGift a alguien que no sea usuario de la plataforma?</strong><br/>¡Claro que sí! Podes regalar SocioGift a todos tus amigos, sin importar si son o no usuarios SeSocio.<br/><br/><strong>¿Qué sucede si mi amigo no es usuario SeSocio?</strong><br/>Cuando crees la SocioGift te vamos a pedir los datos de tu amigo -nombre y correo electrónico- le vamos a mandar un correo contándole de tú regalo y deberá crear su cuenta SeSocio, registrándose con ese correo y validando su documentación.<br/><br/><strong>¿Qué hacer si cargué un correo electrónico erróneo o distinto del que usa mi amigo?</strong><br/>Comunicate con support@sesocio.com, te solicitaremos el correo electrónico que cargaste y el monto de regalo para validar, te pediremos la nueva dirección de correo electrónico para modificarla y listo.<br/><br/><strong>¿Cómo compro y envío una SocioGift?</strong><br/>Elegí el diseño del regalo, el monto de la tarjeta y el destinatario. La SocioGift se enviará a través del correo electrónico de tu amigo.<br/><br/><strong>¿Cómo puedo abonar la SocioGift?</strong><br/>Las SocioGift podrán ser abonadas con saldo en cuenta fiat o criptomoneda.<br/><br/><strong>¿De qué manera me aseguro que adquirí la SocioGift?</strong><br/>Al momento de comprar una SocioGift online, el comprador recibirá en su correo electrónico una confirmación de compra.<br/><br/><strong>¿Tiene fecha de expiración?</strong><br/>Sí. La misma se puede canjear hasta los 90 días desde que se recibió. Si a la fecha de expiración no fue utilizada, se te devolverá el saldo a tu cuenta SeSocio.<br/><br/><strong>¿Para qué puedo usar mi SocioGift?</strong><br/>Invertir en criptomonedas, negocios DEFI, oportunidades de criptomonedas y usarla para consumos de la tarjeta Se Socio.<br/><br/><strong>¿La SocioGift es transferible?</strong><br/>No, sólo puede usarla a quien está dirigida, es decir el titular del mail recibido."
      }
    }
  },
  "en": {
    "title": "¿Cómo participar?",
    "steps": {
      "step_1": {
        "title": "Personalizá tu regalo",
        "title_mobile": "Personalizá",
        "text": ""
      },
      "step_2": {
        "title": "¿Qué puedo regalar?",
        "title_mobile": "¿Qué puedo regalar?",
        "text": ""
      },
      "step_3": {
        "title": "¿Cómo se canjea la SocioGift?",
        "title_mobile": "¿Cómo se canjea la SocioGift?",
        "text": ""
      },
      "step_4": {
        "title": "Preguntas Frecuentes",
        "title_mobile": "Preguntas Frecuentes",
        "text": ""
      }
    }
  }
}
</i18n>

<template>
  <div class="conditions">
    <Wrapper
      marginInner="ma-0"
      layoutWidth="100%"
      containerWidth="100%"
    >
      <template
        slot="content"
      >
        <Wrapper
          mainContainerClass="bgWhite"
        >
          <template
            slot="content"
          >
            <v-row
              class="fill-height"
            >
              <v-col
                cols="12"
                :class="$vuetify.breakpoint.xs ? 'mt-12 mb-16' : 'mt-16 mb-10'"
              >
                <h1
                  class="headline poppins font-weight-black black--text mb-6"
                >
                  {{ $t('title') }}
                </h1>

                <v-chip-group
                  column
                  mandatory
                  class="mb-8"
                >
                  <v-chip
                    link
                    class="rounded-pill mr-2"
                    v-for="n in steps"
                    :color="n-1 !== tab ? 'grey lighten-3' : 'lirio-secondary'"
                    :class="[
                      n-1 !== tab ? 'black--text' : 'white--text',
                      $vuetify.breakpoint.smAndDown ? 'caption-2 px-3 py-2' : 'subtitle-3 px-8 py-3'
                    ]"
                    :key="'chip' + n"
                    @click="tab = n-1"
                  >
                    {{ $t('steps.step_' + n + '.title' + ($vuetify.breakpoint.smAndDown ? '_mobile' : '')) }}
                  </v-chip>
                </v-chip-group>

                <v-tabs-items
                  mandatory
                  v-model="tab"
                  class="mb-10"
                >
                  <v-tab-item
                    v-for="n in steps"
                    :key="'tab-' + n"
                  >
                    <span
                      class="body-1"
                      v-html="$t('steps.step_' + n + '.text')"
                    ></span>
                  </v-tab-item>
                </v-tabs-items>

                <span
                  class="d-block body-1 mb-6"
                  v-html="$t('terms')"
                ></span>
              </v-col>
            </v-row>
          </template>
        </Wrapper>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        tab: 0,
        steps: 4
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-chip {
    border: none !important;
  }

  .v-window {
    background: transparent !important;
  }
</style>