<i18n>
{
  "es": {
    "step_1": "Elegí Motivo",
    "step_2": "Elegí el monto del regalo",
    "step_3": "¡Listo! Enviar"
  }
}
</i18n>

<template>
  <div>
    <v-stepper
      alt-labels
      elevation="0"
      v-model="step"
      :key="creationKey"
    >
      <v-stepper-header
        :class="{'mobile': $vuetify.breakpoint.xs}"
      >
        <v-stepper-step
          :complete="step > 1"
          color="lirio-secondary"
          step="1"
        >
          {{ $t('step_1') }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
          :complete="step > 2"
          color="lirio-secondary"
          step="2"
        >
          {{ $t('step_2') }}
        </v-stepper-step>

        <v-divider></v-divider>

        <v-stepper-step
          step="3"
          color="lirio-secondary"
        >
          {{ $t('step_3') }}
        </v-stepper-step>
      </v-stepper-header>

      <v-stepper-items>
        <v-stepper-content
          class="px-0 px-sm-6 py-0 py-sm-2"
          step="1"
        >
          <step1></step1>
        </v-stepper-content>

        <v-stepper-content
          class="px-0 px-sm-6 py-0 py-sm-2"
          step="2"
        >
          <step2></step2>
        </v-stepper-content>

        <v-stepper-content
          class="px-0 px-sm-6 py-0 py-sm-2"
          step="3"
        >
          <step3></step3>
        </v-stepper-content>
      </v-stepper-items>
    </v-stepper>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import Step1 from './form/Step1';
  import Step2 from './form/Step2';
  import Step3 from './form/Step3';

  export default {
    components: {
      Step1,
      Step2,
      Step3
    },

    computed: {
      ...mapState('giftcard', [
        'creationKey',
        'step'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  .v-stepper {
    background: transparent !important;

    .v-stepper__header {
      box-shadow: none;

      ::v-deep .v-stepper__step {
        .v-stepper__label {
          display: block !important;
        }

        .v-stepper__step__step {
          width: 64px;
          height: 64px;
          font-size: 27px;
          line-height: 27px;
        }

        &.mobile {
          .v-stepper__step__step {
            width: 32px;
            height: 32px;
            font-size: 15px;
            line-height: 15px;
          }

          .v-stepper__label {
            font-size: 12px;
          }
        }
      }

      ::v-deep .v-stepper__step--inactive {
        .v-stepper__step__step {
          border: 2px solid var(--lirio-secondary) !important;
          background-color: white !important;
          color: var(--lirio-secondary) !important;
        }

        .v-stepper__label {
          color: black !important;
        }
      }

      ::v-deep .v-stepper__label {
        text-align: center;
        max-width: 110px;
        line-height: 18px;
      }

      .v-divider {
        border: 1px solid var(--lirio-secondary) !important;
        margin: 54px -45px 0 !important;
      }

      &.mobile {
        ::v-deep .v-stepper__step {
          flex-basis: 60px;
          padding: 0 0 35px 0;
          
          .v-stepper__step__step {
            width: 32px;
            height: 32px;
            font-size: 15px;
            line-height: 15px;
          }

          .v-stepper__label {
            font-size: 12px;
            line-height: 14px;
          }
        }

        .v-divider {
          margin: 16px -5px 0 !important;       
        }
      }
    }
  }
</style>