<i18n>
{
  "es": {
    "date": "Fecha de vencimiento",
    "to": "Para",
    "from": "De",
    "amount": "Regalo",
    "email": "Enviado a",
    "repeat_gift": "Volver a regalar",
    "go_to_account": "Mis movimientos",
    "redeem": "Canjear",
    "redeem_success": "Has canjeado tu regalo con éxito.",
    "redeem_error": "Ha ocurrido un error.<br />Por favor intenta nuevamente.",
    "status": {
      "sent": {
        "pending": "¡Tu regalo aún no ha sido abierto!",
        "approved": "¡Tu regalo ha sido abierto!",
        "confirmed": "¡Tu regalo ha sido abierto!",
        "cancelled": "El regalo no pudo ser entregado.",
        "expired": "¡Tu regalo ha expirado!"
      },
      "received": {
        "pending": "¡Tu regalo aún no ha sido abierto!",
        "approved": "¡Tu regalo fue acreditado!",
        "confirmed": "¡Tu regalo fue acreditado!",
        "cancelled": "El regalo no pudo ser entregado.",
        "expired": "¡Tu regalo ha expirado!"
      }
    },
    "docMissing": {
      "text": "Para disfrurar de tu regalo por favor cargue la documentación requerida",
      "button": "Cargar documentación"
    },
    "contact": "Comunicate con support@sesocio.com"
  }
}
</i18n>

<template>
  <div>
    <v-card
      class="my-6 pa-2 py-6 pa-sm-6"
      :class="{ disabled: cardDisabled(giftcard.status) }"
    >
      <div
        v-if="docMissing"
        class="disabled-overlay d-flex pa-6"
        :class="$vuetify.breakpoint.xs ? 'justify-center align-end' : 'justify-end align-center'"
      >
        <div
          class="required white text-center pa-4"
        >
          <span
            class="d-block subtitle-2"
          >
            {{ $t('docMissing.text') }}
          </span>

          <v-btn
            large
            width="200"
            elevation="0"
            color="dianthus-400"
            class="mt-1"
            to="/user/documentation"
          >
            {{ $t('docMissing.button') }}
          </v-btn>
        </div>
      </div>

      <div
        :class="$vuetify.breakpoint.xs ? 'text-center' : 'd-flex flex-no-wrap align-center'"
      >
        <v-avatar
          class="custom-item-shadow ma-3"
          :class="$vuetify.breakpoint.smAndDown ? '' : 'mr-6'"
          :size="$vuetify.breakpoint.smOnly ? 130 : 180"
          rounded
        >
          <v-img :src="getImage(giftcard.motive)"></v-img>
        </v-avatar>

        <div
          class="text-left"
        >
          <v-card-text
            :class="$vuetify.breakpoint.smOnly ? 'subtitle-2' : 'title-2'"
          >
            <template
              v-if="type === 'sent'"
            >
              <div
                class="mb-1"
              >
                {{ $t('date') }}:
                
                <span
                  class="font-weight-regular"
                >
                  {{ $moment(giftcard.expired_date).format("DD/MM/YY") }}
                </span>
              </div>

              <div
                class="mb-1"
              >
                {{ $t('to') }}:
                
                <span
                  class="font-weight-regular"
                >
                  {{ giftcard.name }}
                </span>
              </div>

              <div
                class="mb-1 d-flex justify-start align-center"
              >
                {{ $t('amount') }}:

                <v-avatar
                  class="ml-2 mr-1"
                  :class="$vuetify.breakpoint.smOnly ? 'mt-0' : 'mt-n1'"
                  :size="$vuetify.breakpoint.smOnly ? 18 : 20"
                >
                  <v-img
                    eager
                    :src="giftcard.icon"
                    :alt="giftcard.currency"
                  />
                </v-avatar>

                <span>
                  {{ giftcard.currency }}  {{ giftcard.amount }}
                </span>
              </div>

              <div
                class="mb-1"
              >
                {{ $t('email') }}:

                <span
                  class="font-weight-regular"
                >
                  {{ giftcard.email }}
                </span>
              </div>
            </template>

            <template
              v-else
            >
              <div
                class="mb-1"
              >
                {{ $t('date') }}:
                
                <span
                  class="font-weight-regular"
                >
                  {{ $moment(giftcard.expired_date).format("DD/MM/YY") }}
                </span>
              </div>

              <div
                class="mb-1"
              >
                {{ $t('from') }}:
                
                <span
                  class="font-weight-regular"
                >
                  {{ giftcard.name }}
                </span>
              </div>

              <div
                class="mb-1 d-flex justify-start align-center"
              >
                {{ $t('amount') }}:

                <v-avatar
                  class="ml-2 mr-1"
                  :class="$vuetify.breakpoint.smOnly ? 'mt-0' : 'mt-n1'"
                  :size="$vuetify.breakpoint.smOnly ? 16 : 20"
                >
                  <v-img
                    eager
                    :src="giftcard.icon"
                    :alt="giftcard.currency"
                  />
                </v-avatar>

                <span>
                  {{ giftcard.currency }}  {{ giftcard.amount }}
                </span>
              </div>
            </template>
          </v-card-text>
        </div>

        <v-spacer></v-spacer>

        <div>
          <v-card-actions
            class="justify-center"
            :class="$vuetify.breakpoint.xs ? '' : 'text-center block'"
          >
            <template
              v-if="type === 'sent'"
            >
              <div>
                <span
                  class="d-block"
                  :class="$vuetify.breakpoint.smOnly ? 'subtitle-2' : 'title-2'"
                >
                  {{ $t('status.sent.' + giftcard.status)}}
                </span>

                <span v-if="cardDisabled(giftcard.status)"
                  class="d-block"
                  :class="$vuetify.breakpoint.smOnly ? 'subtitle-2' : 'title-2'"
                >
                  {{ $t('contact')}} 
                </span>

                <!--<v-btn
                  :large="!$vuetify.breakpoint.smOnly"
                  width="200"
                  elevation="0"
                  color="dianthus-400"
                  class="mt-1"
                  @click="repeatGift"
                >
                  {{ $t('repeat_gift') }}
                </v-btn>-->
              </div>
            </template>

            <template
              v-else
            >
              <div>
                <span
                  class="d-block"
                  :class="$vuetify.breakpoint.smOnly ? 'subtitle-2' : 'title-2'"
                >
                  {{ $t('status.received.' + giftcard.status) }}
                </span>

                <template
                  v-if="giftcard.status !== 'pending'"
                >
                  <v-btn
                    :large="!$vuetify.breakpoint.smOnly"
                    width="200"
                    elevation="0"
                    color="dianthus-400"
                    class="mt-1"
                    to="/movements"
                  >
                    {{ $t('go_to_account') }}
                  </v-btn>
                </template>

                <template
                  v-else
                >
                  <v-btn
                    :loading="loading"
                    :large="!$vuetify.breakpoint.smOnly"
                    width="200"
                    elevation="0"
                    color="dianthus-400"
                    class="mt-1"
                    @click="redeem"
                  >
                    {{ $t('redeem') }}
                  </v-btn>
                </template>
              </div>
            </template>
          </v-card-actions>
        </div>
      </div>
    </v-card>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    props: {
      giftcard: {
        required: true
      },
      type: {
        required: true
      }
    },

    data() {
      return {
        loading: false
      }
    },

    computed: {
      ...mapState('user', [
        'current'
      ]),

      docMissing() {
        return this.type === 'received' && this.current.all_documents_approved !== true;
      }
    },

    methods: {
      ...mapActions('giftcard', [
        'redeemGiftCard'
      ]),

      ...mapActions('snackbar', [
        'showSnackbar'
      ]),

      getImage(theme) {
        return require('../../../assets/images/giftcard/themes/' + theme + '.jpg');
      },

      repeatGift() {
        console.log('repeat gift', this.giftcard);
      },

      async redeem() {
        this.loading = true;

        await this.redeemGiftCard(this.giftcard.id).then(response => {
          if(response && !response.hasOwnProperty('error_code')) {
            this.giftcard.status = 'confirmed';
            this.showSnackbar({
              type: 'success',
              message: this.$t('redeem_success')
            });
          } else {
            this.showSnackbar({ message: this.$t('redeem_error') });
          }
        }).catch(() => {
          this.showSnackbar({ message: this.$t('redeem_error') });
        });

        this.loading = false;
      },

      cardDisabled(status) {
        return status === 'cancelled';
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, .1) !important;
    overflow: hidden;

    .v-card__actions {
      min-width: 310px;
    }

    ::v-deep .custom-item-shadow {
      box-shadow: 0 8px 24px 0 rgba(0, 0, 0, .1) !important
    }

    .disabled-overlay {
      background: rgba(0,0,0,.65);
      position: absolute;
      z-index: 1;
      width: 100%;
      height: 100%;
      margin-top: -24px;
      margin-left: -24px;

      .required {
        max-width: 390px;
      }
    }

    &.pa-2 {
      .disabled-overlay {
        margin-left: -8px;
      }
    }

    &.disabled {
      .v-avatar, .v-card__text {
        opacity: 0.6;
      }
    }
  }
</style>