<i18n>
{
  "es": {
    "title": "Regalá sólo en tres simple pasos",
    "description": "¡Envíale a esa persona especial un SocioGift en dólares o criptomonedas<br />para que pueda invertir, comprar y pagar lo que quiera!",
    "deposit": "Cargá saldo",
    "theme": "Elegí el motivo",
    "currency": "Seleccioná<br />la moneda y ¡Listo!",
    "gift": "Regalar"
  },
  "es-AR": {
    "title": "Regalá sólo en tres simple pasos",
    "description": "¡Envíale a esa persona especial un SocioGift en dólares o criptomonedas<br />para que pueda invertir, comprar y pagar lo que quiera!",
    "deposit": "Cargá saldo",
    "theme": "Elegí el motivo",
    "currency": "Seleccioná<br />la moneda y ¡Listo!",
    "gift": "Regalar"
  },
  "en": {
    "title": "Regalá sólo en tres simple pasos",
    "description": "¡Envíale a esa persona especial un SocioGift en dólares o criptomonedas<br />para que pueda invertir, comprar y pagar lo que quiera!",
    "deposit": "Cargá saldo",
    "theme": "Elegí el motivo",
    "currency": "Seleccioná<br />la moneda y ¡Listo!",
    "gift": "Regalar"
  }
}
</i18n>

<template>
  <div
    class="grey lighten-4"
  >
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          no-gutters
        >
          <v-col
            cols="12"
            sm="10"
            offset-sm="1"
            class="text-center py-16"
          >
            <h1
              class="poppins font-weight-black"
              :class="[
                $vuetify.breakpoint.xs ? 'mobile mb-6' : 'mb-4',
                isLoggedIn ? 'custom-subtitle custom-color' : 'custom-title lirio-secondary--text'
              ]"
            >
              {{ $t('title') }}
            </h1>

            <span
              class="custom-color font-weight-regular d-block mx-auto px-4 mb-16"
              v-html="$t('description')"
            ></span>

            <v-btn
              v-if="!isLoggedIn && $vuetify.breakpoint.xs"
              large
              width="200"
              elevation="0"
              class="my-8 mb-16 mt-0"
              color="dianthus-400"
              @click="openOnboardingDialog()"
            >
              {{ $t('gift') }}
            </v-btn>

            <v-row
              :class="{'px-13 ma-0': $vuetify.breakpoint.xs}"
            >
              <v-col
                cols="12"
                sm="4"
                class="pa-5"
              >
                <v-card
                  elevation="0"
                  rounded="xl"
                >
                  <v-card-text>
                    <v-img
                      contain
                      class="ma-6"
                      :src="require('../../../assets/images/giftcard/deposit.png')"
                      :height="$vuetify.breakpoint.smAndDown ? 'auto' : 190"
                    ></v-img>
                    <span
                      class="d-block custom-color title-3 poppins font-weight-black"
                      v-html="$t('deposit')"
                    ></span>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col
                cols="12"
                sm="4"
                class="pa-5"
              >
                <v-card
                  elevation="0"
                  rounded="xl"
                >
                  <v-card-text>
                    <v-img
                      contain
                      class="ma-6"
                      :src="require('../../../assets/images/giftcard/theme.png')"
                      :height="$vuetify.breakpoint.smAndDown ? 'auto' : 190"
                    ></v-img>
                    <span
                      class="d-block custom-color title-3 poppins font-weight-black"
                      v-html="$t('theme')"
                    ></span>
                  </v-card-text>
                </v-card>
              </v-col>

              <v-col
                cols="12"
                sm="4"
                class="pa-5"
              >
                <v-card
                  elevation="0"
                  rounded="xl"
                >
                  <v-card-text>
                    <v-img
                      contain
                      class="ma-6"
                      :src="require('../../../assets/images/giftcard/currency.png')"
                      :height="$vuetify.breakpoint.smAndDown ? 'auto' : 190"
                    ></v-img>
                    <span
                      class="d-block custom-color title-3 poppins font-weight-black"
                      v-html="$t('currency')"
                    ></span>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>

            <v-btn
              v-if="!isLoggedIn && !$vuetify.breakpoint.xs"
              large
              width="220"
              elevation="0"
              class="white--text mt-12"
              color="lirio-secondary"
              @click="openOnboardingDialog()"
            >
              {{ $t('gift') }}
            </v-btn>
          </v-col>
        </v-row>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    computed: {
      ...mapState('user', [
        'isLoggedIn'
      ])
    },
    methods: {
      ...mapActions("onboarding_dialog", [
        "openOnboardingDialog"
      ])
    }
  }
</script>

<style lang="scss" scoped>
  .custom-title {
    font-size: 28px;

    &.mobile {
      font-size: 19px;
    }
  }

  .custom-subtitle {
    font-size: 28px;

    &.mobile {
      font-size: 19px;
    }
  }

  span {
    max-width: 600px;
  }

  .custom-color {
    color: #3b3735 !important;
  }

  .v-card {
    span {
      line-height: 18px;
      min-height: 50px;
    }
  }
</style>