<i18n>
{
  "es": {
    "preview": "Previsualizar tu regalo",
    "mobile": "Celular",
    "desktop": "Compu"
  }
}
</i18n>


<template>
  <div
    class="pt-6 pb-16"
  >
    <v-tabs-items
      v-model="preview"
    >
      <v-tab-item
        value="mobile"
      >
        <div
          class="preview-container mobile"
        >
          <img
            class="ml-n14"
            :src="require('../../../assets/images/giftcard/preview-mobile.png')"
          />
          
          <div
            class="theme"
          >
            <img :src="require('../../../assets/images/giftcard/themes/' + theme + '-preview-mobile.jpg')" />
          </div>
        </div>
      </v-tab-item>

      <v-tab-item
        value="desktop"
      >
        <div
          class="preview-container desktop"
        >
          <img
            :src="require('../../../assets/images/giftcard/preview-desktop.png')"
          />
          
          <div
            class="theme"
          >
            <img :src="require('../../../assets/images/giftcard/themes/' + theme + '-preview-' + preview + '.jpg')" />
          </div>
        </div>
      </v-tab-item>
    </v-tabs-items>

    <div
      class="title black--text text-center mb-2 mt-n4"
    >
      {{ $t('preview') }}
    </div>

    <div
      class="text-center"
    >
      <v-btn
        width="110"
        class="mr-2 rounded-lg"
        :class="preview === 'mobile' ? 'white--text' : ''"
        :color="preview === 'mobile' ? 'lirio-secondary' : 'white'"
        @click="preview = 'mobile'"
      >
        {{ $t('mobile') }}
      </v-btn>

      <v-btn
        width="110"
        class="rounded-lg"
        :class="preview === 'desktop' ? 'white--text' : ''"
        :color="preview === 'desktop' ? 'lirio-secondary' : 'white'"
        @click="preview = 'desktop'"
      >
        {{ $t('desktop') }}
      </v-btn>
    </div>
  </div>
</template>

<script>
  import { mapState } from 'vuex';

  export default {
    data() {
      return {
        preview: 'mobile'
      }
    },

    computed: {
      ...mapState('giftcard', [
        'theme'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  .v-window {
    background: transparent !important;
    overflow: visible !important;
  }

  .preview-container {
    position: relative;
    min-height: 620px;

    .theme {
      position: absolute;
    }

    &.mobile {
      .theme {
        top: 105px;
        left: 20px;
        width: 219px;

        img {
          width: 100%;
          max-width: 100%;
        }
      }
    }

    &.desktop {
      padding-top: 200px;

      .theme {
        top: 220px;
        left: 9px;
        width: 237px;
        overflow: hidden;
        height: 134px;
        
        img {
          width: 100%;
          max-width: 100%;
        }
      }

      img {
        width: 255px;
      }

    }
  }
</style>