<i18n>
{
  "es": {
    "title": "¡Bienvenid@ a SocioGift!",
    "banned": "No estás autorizado para<br />realizar esta operación.",
    "activate": "Para completar la acción<br />carga tu documentación.",
    "giftcard_exceeded": "Has excedido el límite mensual<br />de envío de SocioGift.",
    "deposit": "No tenés suficiente saldo",
    "already_created": "Ya le enviaste una SocioGift<br />al usuario elegido este mes.",
    "amount_exceed": "Superaste el monto excedido<br />para el envío de SocioGift.",
    "deposit_currency": "No tenés saldo suficiente<br />en la moneda seleccionada.",
    "default": "Ha ocurrido un error.<br />Por favor intenta nuevamente.",
    "no_giftcard": "No tenés una Gift<br />asociada a tu cuenta.",
    "buttons": {
      "default": "Cerrar",
      "banned": "Cerrar",
      "activate": "Carga documentación",
      "deposit": "Cargar saldo",
      "giftcard_exceeded": "Cerrar",
      "already_created": "Cerrar",
      "amount_exceed": "Cerrar",
      "deposit_currency": "Cargar saldo",
      "no_giftcard": "Cerrar"
    }
  }
}
</i18n>

<template>
  <v-dialog
    v-model="show.dialog"
    width="360"
  >
    <v-card
      class="px-4 pt-10"
    >
      <v-card-text
        class="text-center"
      >
        <div
          class="close"
        >
          <v-btn
            icon
            class="elevation-0"
            @click="show.dialog = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </div>

        <!--
        <div
          class="custom-title poppins font-weight-bold lirio-secondary--text mb-4"
        >
          {{ $t('title') }}
        </div>
        -->

        <span
          class="subtitle-1 black--text"
          v-html="$t(dialogText)"
        ></span>
      </v-card-text>

      <v-card-actions>
        <div
          class="buttons-container mx-auto mb-4"
          :class="{'mobile': $vuetify.breakpoint.xs}"
        >
          <v-btn
            block
            color="primary"
            class="elevation-0 mb-2"
            @click="doAction"
          >
            {{ $t('buttons.' + dialogText) }}
          </v-btn>
        </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  export default {
    props: {
      show: {
        required: true
      },
      error: {
        default: 8
      }
    },

    data() {
      return {
        errors: [
          {id: 1, message: 'banned'},             // 1 = banned user
          {id: 2, message: 'activate'},           // 2 = user without documentation
          {id: 3, message: 'giftcard_exceeded'},  // 3 = maximum number of giftcards exceeded
          {id: 4, message: 'deposit'},            // 4 = user without balance
          {id: 5, message: 'already_created'},    // 5 = user wants give a giftcard to the same user
          {id: 6, message: 'amount_exceed'},      // 6 = the amount exceed the limit (10k IARS or equivalent)
          {id: 7, message: 'deposit_currency'},   // 7 = user without balance in a specific currency
          {id: 8, message: 'default'},            // 8 = default error
          {id: 9, message: 'no_giftcard'}         // 9 = there is no giftcard associated with the user
        ]
      }
    },

    computed: {
      dialogText() {
        let error = this.errors.find(e => e.id === this.error);
        return error ? error.message : 'default';
      }
    },

    methods: {
      doAction() {
        if(this.error === 2) {
          this.$router.push('/user/documentation');
          return;
        }

        if(this.error === 4 || this.error === 7) {
          this.$router.push('/deposit');
          return;
        }
        
        this.show.dialog = false;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .custom-title {
    font-size: 24px;
  }

  .buttons-container {
    min-width: 300px;

    &.mobile {
      min-width: 200px;
    }
  }
</style>