<template>
  <div>
    Grid: {{ section }}<br />
    Article: {{ article }}
  </div>
</template>

<script>
  export default {
    data() {
      return {
        section: null,
        article: null
      }
    },

    created() {
      this.section = this.$route.params.section;
      this.article = this.$route.params.id;
    }
  }
</script>