<i18n>
{
  "es": {
    "header": {
      "title": "SeSocio by Blockchain.com",
      "meta": {
        "title": "SeSocio by Blockchain.com",
        "siteName": "SeSocio.com"
      }
    },
    "guides": {
      "sesocio_guide": {
        "title": "Guía SeSocio",
        "subtitle": "¿Querés encontrar las mejores oportunidades de inversión? Con estas guías podrás convertirte en un inversionista experto."
      },
      "crypto_guide": {
        "title": "Guía Cripto",
        "subtitle": "Conocé todo lo que necesitas saber sobre las criptomonedas. Esta guía te permitirá llevar las inversiones en Criptos a otro nivel."
      },
      "investoland_guide": {
        "title": "Guía Investoland",
        "subtitle": "¿Te gustaría conocer el proyecto detrás de la Inve Coin? En estas guías podrás enterarte de todo lo relacionado a Investoland, el proyecto disruptivo que viene a cambiar el mundo de las finanzas"
      },
      "financial_education_guide": {
        "title": "Guía Educación Financiera",
        "subtitle": "Con esta guía aprenderás a diversificar tu portfolio, analizar las mejores oportunidades de inversión ¡y mucho más!"
      }
    }
  }
}
</i18n>

<template>
  <div
    class="academy-grid"
  >
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          class="pt-6"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <span
              class="d-flex body-1 mb-6"
            >
              <router-link
                class="text-decoration-none"
                to="/s-cool"
              >
                SCOOL
              </router-link>

              <v-icon size="18" class="mx-1">mdi-chevron-right</v-icon>

              <strong>{{ $t(`guides.${section}.title`) }}</strong>
            </span>

            <span
              class="d-block text-center text-sm-left poppins title font-weight-bold mb-1"
            >
              {{ $t(`guides.${section}.title`) }}
            </span>

            <span
              class="d-block text-center text-sm-left body-1"
            >
              {{ $t(`guides.${section}.subtitle`) }}
            </span>
          </v-col>
        </v-row>

        <v-row
          class="px-4 px-md-0 mt-2 pb-10"
          v-if="!loading"
        >
          <v-col
            cols="12"
            xs="6"
            sm="4"
            md="3"
            class="px-10 px-sm-4"
            v-for="(item, index) in articles"
            :key="index"
          >
            <scard
              :small="true"
              :auto-width="true"
              :item="{
                title: item.article_title.es,
                description: item.short_description,
                image: item.photo_url.medium,
                link: `/articles/${$moment(item.created_at).format('YYYY/MM/DD')}/${item.article_title_id.es}?sscool=${item.primary_category}`
              }"
            ></scard>
          </v-col>
        </v-row>

        <v-row
          class="px-4 px-md-0 mt-2 pb-10"
          v-else
        >
          <v-col
            class="loader-container d-flex justify-center align-center"
          >
            <v-progress-circular
              :size="28"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </v-col>
        </v-row>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import Scard from '../components/Scard';

  export default {
    components: {
      Scard
    },

    head: {
      title: function () {
        return {
          inner: this.$t(`guides.${this.section}.title`) + ' - ' +  this.$t('header.title')
        }
      },

      meta: function () {
        return [
          { property: 'og:title', content: this.$t(`guides.${this.section}.title`) + ' - ' +  this.$t('header.meta.title'), id: 'ogtitle' },
          { property: 'og:description', content: this.$t(`guides.${this.section}.subtitle`), id: 'ogdesc' },
          { property: 'og:site_name', content: this.$t('header.meta.siteName'), id: 'ogsite' },
          { property: 'og:image', itemprop: 'image', content: 'https://www.sesocio.com' + require('../../../assets/images/academy/academy_share.jpg'), id: 'ogimg' },
          { name: 'twitter:image', content: 'https://www.sesocio.com' + require('../../../assets/images/academy/academy_share.jpg') },
          { property: 'og:image:width', content: '1080', id: 'ogimgw' },
          { property: 'og:image:height', content: '1080', id: 'ogimgh' },
          { property: 'og:url', content: 'https://www.sesocio.com/s-cool', id: 'ogurl' },
          { property: 'og:type', content: 'website', id: 'ogtype' },
        ]
      }
    },

    data() {
      return {
        section: null
      }
    },

    computed: {
      ...mapState('articles', [
        'articles',
        'loading'
      ])
    },

    methods: {
      ...mapActions('articles', [
        'cleanArticlesRaw',
        'getArticlesAcademyRaw'
      ])
    },

    beforeMount() {
      this.section = this.$route.params.section;
      console.log('section', this.section);

      let options = { offset: 0, category: this.section, limit: 50, all: true };
      this.cleanArticlesRaw();
      this.getArticlesAcademyRaw(options);
    }
  }
</script>

<style lang="scss" scoped>
  .academy-grid {
    .poppins {
      font-family: 'Poppins' !important;
    }

    .loader-container {
      min-height: 400px;
    }
  }
</style>