<i18n>
{
  "es": {
    "header": {
      "title": "S-Cool - SeSocio by Blockchain.com",
      "description": "Aprendé a manejarte en finanzas, subí de nivel en criptos y volvete un experto en blockchain.",
      "meta": {
        "title": "S-Cool - SeSocio by Blockchain.com",
        "description": "Aprendé a manejarte en finanzas, subí de nivel en criptos y volvete un experto en blockchain.",
        "siteName": "SeSocio.com"
      }
    },
    "guides": {
      "sesocio_guide": {
        "title": "Guía SeSocio",
        "subtitle": "¿Querés encontrar las mejores oportunidades de inversión? Con estas guías podrás convertirte en un inversionista experto."
      },
      "crypto_guide": {
        "title": "Guía Cripto",
        "subtitle": "Conocé todo lo que necesitas saber sobre las criptomonedas. Esta guía te permitirá llevar las inversiones en Criptos a otro nivel."
      },
      "investoland_guide": {
        "title": "Guía Investoland",
        "subtitle": "¿Te gustaría conocer el proyecto detrás de la Inve Coin? En estas guías podrás enterarte de todo lo relacionado a Investoland, el proyecto disruptivo que viene a cambiar el mundo de las finanzas"
      },
      "financial_education_guide": {
        "title": "Guía Educación Financiera",
        "subtitle": "Con esta guía aprenderás a diversificar tu portfolio, analizar las mejores oportunidades de inversión ¡y mucho más!"
      }
    }
  },
  "es-AR": {
    "header": {
      "title": "S-Cool - SeSocio by Blockchain.com",
      "description": "Aprendé a manejarte en finanzas, subí de nivel en criptos y volvete un experto en blockchain.",
      "meta": {
        "title": "S-Cool - SeSocio by Blockchain.com",
        "description": "Aprendé a manejarte en finanzas, subí de nivel en criptos y volvete un experto en blockchain.",
        "siteName": "SeSocio.com"
      }
    },
    "guides": {
      "sesocio_guide": {
        "title": "Guía SeSocio",
        "subtitle": "¿Querés encontrar las mejores oportunidades de inversión? Con estas guías podrás convertirte en un inversionista experto."
      },
      "crypto_guide": {
        "title": "Guía Cripto",
        "subtitle": "Conocé todo lo que necesitas saber sobre las criptomonedas. Esta guía te permitirá llevar las inversiones en Criptos a otro nivel."
      },
      "investoland_guide": {
        "title": "Guía Investoland",
        "subtitle": "¿Te gustaría conocer el proyecto detrás de la Inve Coin? En estas guías podrás enterarte de todo lo relacionado a Investoland, el proyecto disruptivo que viene a cambiar el mundo de las finanzas"
      },
      "financial_education_guide": {
        "title": "Guía Educación Financiera",
        "subtitle": "Con esta guía aprenderás a diversificar tu portfolio, analizar las mejores oportunidades de inversión ¡y mucho más!"
      }
    }
  },
  "en": {
    "header": {
      "title": "S-Cool - SeSocio by Blockchain.com",
      "description": "Aprendé a manejarte en finanzas, subí de nivel en criptos y volvete un experto en blockchain.",
      "meta": {
        "title": "S-Cool - SeSocio by Blockchain.com",
        "description": "Aprendé a manejarte en finanzas, subí de nivel en criptos y volvete un experto en blockchain.",
        "siteName": "SeSocio.com"
      }
    },
    "guides": {
      "sesocio_guide": {
        "title": "Guía SeSocio",
        "subtitle": "¿Querés encontrar las mejores oportunidades de inversión? Con estas guías podrás convertirte en un inversionista experto."
      },
      "crypto_guide": {
        "title": "Guía Cripto",
        "subtitle": "Conocé todo lo que necesitas saber sobre las criptomonedas. Esta guía te permitirá llevar las inversiones en Criptos a otro nivel."
      },
      "investoland_guide": {
        "title": "Guía Investoland",
        "subtitle": "¿Te gustaría conocer el proyecto detrás de la Inve Coin? En estas guías podrás enterarte de todo lo relacionado a Investoland, el proyecto disruptivo que viene a cambiar el mundo de las finanzas"
      },
      "financial_education_guide": {
        "title": "Guía Educación Financiera",
        "subtitle": "Con esta guía aprenderás a diversificar tu portfolio, analizar las mejores oportunidades de inversión ¡y mucho más!"
      }
    }
  }
}
</i18n>

<template>
  <div>
    <hero></hero>
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          class="pb-8 pt-6 pb-sm-10"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <search></search>
          </v-col>
        </v-row>

        <v-row
          class="pb-0 pb-sm-6"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <news></news>
          </v-col>
        </v-row>
        
        <v-row
          class="pb-0 pb-sm-6"
          no-gutters
          v-for="(item, index) in reels"
          :key="index"
        >
          <v-col
            class="px-4 px-md-0"
          >
            <custom-block
              :title="$t(`guides.${item}.title`)"
              :subtitle="$t(`guides.${item}.subtitle`)"
              :items="articles[item]"
              :loading="loading"
              :guide="item"
              :key="index"
            ></custom-block>
          </v-col>
        </v-row>

      <!--

        <v-row
          class="pb-6 pb-sm-12"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <guides></guides>
          </v-col>
        </v-row>

        <v-row
          class="pb-6 pb-sm-12"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <crypto></crypto>
          </v-col>
        </v-row>
      -->

        <v-row
          class="pb-0 pb-sm-6"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <podcasts></podcasts>
          </v-col>
        </v-row>

        <v-row
          class="pb-10 mt-sm-n4"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
          >
            <banner></banner>
          </v-col>
        </v-row>

        <v-row
          v-if="isLoggedIn"
          class="pt-0 pt-sm-2 pb-4 pb-sm-12"
          no-gutters
        >
          <v-col
            class="px-4 px-md-0"
            cols="12"
            sm="6"
          >
            <message-form></message-form>
          </v-col>

          <v-col
            cols="12"
            sm="6"
            class="px-4 px-md-0 d-flex align-center justify-center"
          >
            <img :src="require('../../../assets/images/academy/form-image.png')" />
          </v-col>
        </v-row>

          <!--
            <scard
              :hide-details="true"
              :item="items[0]"
            ></scard>
            <scard
              :multiple="true"
              :item="items[1]"
            ></scard>
            <scard
              :item="items[2]"
            ></scard>
            <scard
              :hide-details="true"
              :item="items[0]"
            ></scard>
            <scard
              :multiple="true"
              :small="true"
              :item="items[1]"
            ></scard>
            <scard
              :small="true"
              :item="items[2]"
            ></scard>
            <scard
              :small="true"
              :only-title="true"
              :item="items[0]"
            ></scard>
          -->
      </template>
    </Wrapper>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import Hero from '../components/home/Hero';
  import Search from '../components/home/Search';
  import News from '../components/home/News';
  import Guides from '../components/home/Guides';
  import Crypto from '../components/home/Crypto';
  import Podcasts from '../components/home/Podcasts';
  import Banner from '../components/home/Banner';
  import Form from '../components/home/Form';

  import CustomBlock from '../components/home/CustomBlock';

  export default {
    components: {
      Hero,
      Search,
      News,
      Guides,
      Crypto,
      Podcasts,
      Banner,
      CustomBlock,
      messageForm: Form
    },

    head: {
      title: function () {
        return {
          inner: this.$t('header.title')
        }
      },

      meta: function () {
        return [
          { property: 'og:title', content: this.$t('header.meta.title'), id: 'ogtitle' },
          { property: 'og:description', content: this.$t('header.meta.description'), id: 'ogdesc' },
          { property: 'og:site_name', content: this.$t('header.meta.siteName'), id: 'ogsite' },
          { property: 'og:image', itemprop: 'image', content: 'https://www.sesocio.com' + require('../../../assets/images/academy/academy_share.jpg'), id: 'ogimg' },
          { name: 'twitter:image', content: 'https://www.sesocio.com' + require('../../../assets/images/academy/academy_share.jpg') },
          { property: 'og:image:width', content: '1080', id: 'ogimgw' },
          { property: 'og:image:height', content: '1080', id: 'ogimgh' },
          { property: 'og:url', content: 'https://www.sesocio.com/s-cool', id: 'ogurl' },
          { property: 'og:type', content: 'website', id: 'ogtype' },
        ]
      }
    },

    data() {
      return {
        reels: [
          'sesocio_guide',
          'crypto_guide',
          'investoland_guide',
          'financial_education_guide'
        ]
      } 
    },

    computed: {
      ...mapState("user", [
        "isLoggedIn"
      ]),

      ...mapState("articles", [
        "articles",
        "loading"
      ])
    },

    methods: {
      ...mapActions("articles", [
        "getArticlesAcademyRaw"
      ])
    },

    created() {
      this.getArticlesAcademyRaw()
    }
  }
</script>