<i18n>
{
  "es": {
    "summary": "Verifica los siguientes datos antes de enviar la SocioGift",
    "summary_data": "<strong>{from}</strong>, le estás regalando una SocioGift a <strong>{firstname} {lastname}</strong> por <strong>{amount}</strong>",
    "summary_email": "Se la enviaremos a <strong>{email}</strong> con el siguiente mensaje:",
    "edit_others": "Si queres modificar el monto o el e-mail volvé al paso anterior.",
    "edit": "Editar mensaje",
    "save": "Guardar mensaje",
    "message": "Mensaje",
    "terms": "Acepto <a target='_blank' href='https://www.sesocio.com/articles/2021/10/15/sociogift-terminos-y-condiciones'>Términos y Condiciones</a>",
    "continue": "Continuar",
    "back": "Anterior",
    "success_message": "¡Tu SocioGift<br />Está en camino!",
    "success_button": "Seguir regalando",
    "success_goto_home": "Ir a SocioGift",
    "errors": {
      "required": "Requerido"
    }
  }
}
</i18n>

<template>
  <div
    class="px-0 px-sm-6"
  >
    <v-row
      no-gutters
    >
      <v-col>
        <span
          class="d-block title-2 mb-4"
        >
          {{ $t('summary') }}
        </span>

        <div>
          <span
            class="d-block subtitle-1"
            v-html="$t('summary_data', giftcardData)"
          ></span>

          <span
            class="d-block subtitle-1"
            v-html="$t('summary_email', {email: message.email})"
          ></span>

          <v-tabs-items
            v-model="editing"
          >
            <v-tab-item
              :value="true"
            >
              <v-row
                no-gutters
                class="mt-4"
              >
                <v-col
                  cols="12"
                  sm="6"
                >
                  <v-textarea
                    outlined
                    no-resize
                    height="183"
                    v-model="message.message"
                    :rules="[rules.required]"
                    :label="$t('message')"
                  ></v-textarea>
                </v-col>
              </v-row>

              <a
                class="d-block body-1 font-weight-bold text-decoration-underline mb-2"
                @click="editing = false"
              >
                {{ $t('save') }}
              </a>
            </v-tab-item>

            <v-tab-item
              :value="false"
            >
              -<br />

              <span
                class="d-block subtitle-1"
                v-html="parsedMessage"
              >
              </span>

              -<br />

              <a
                class="d-block body-1 font-weight-bold text-decoration-underline mb-2"
                @click="editing = true"
              >
                {{ $t('edit') }}
              </a>
            </v-tab-item>
          </v-tabs-items>

          <span
            class="d-block mt-3 subtitle-1"
            v-html="$t('edit_others')"
          ></span>

          <div
            class="body-1"
          >
            <v-checkbox
              v-model="terms"
              :ripple="false"
              :rules="[rules.required]"
            >
              <template v-slot:label>
                <div
                  @click.stop
                  class="ml-1 text-subtitle-2"
                  v-html="$t('terms')"
                ></div>
              </template>
            </v-checkbox>
          </div>
        </div>
      </v-col>
    </v-row>

    <v-row>
      <v-col
        cols="12"
        class="mt-0 mt-sm-4 text-center text-sm-right"
      >
        <v-btn
          large
          outlined
          color="dianthus-600"
          class="black--text elevation-0 mr-4"
          :width="$vuetify.breakpoint.xs ? 130 : 220"
          :disabled="creating"
          @click="prevStep"
        >
          {{ $t('back') }}
        </v-btn>

        <v-btn
          large
          color="dianthus-400"
          class="black--text elevation-0"
          :width="$vuetify.breakpoint.xs ? 130 : 220"
          :disabled="!terms || editing"
          :loading="creating"
          @click="confirm()"
        >
          {{ $t('continue') }}
        </v-btn>
      </v-col>
    </v-row>

    <security
      :show="showSecurity"
      @verified="checkSecurity"
      @close="showSecurity = false"
    />

    <v-dialog
      v-model="success"
      max-width="420"
      persistent
    >
      <v-card>
        <v-card-text
          class="text-center pt-12"
        >
          <span
            class="black--text title-2"
            v-html="$t('success_message')"
          ></span>

          <v-img
            eager
            width="280"
            class="mx-auto"
            :src="require('../../../../assets/images/giftcard/give-giftcard.jpg')"
          />
        </v-card-text>
        <v-card-actions
          class="justify-center pb-8"
        >
          <v-row
            dense
          >
            <v-col
              cols="12"
              sm="6"
              class="text-center"
            >
              <v-btn
                large
                width="170"
                color="dianthus-400"
                class="black--text elevation-0"
                :disabled="validating"
                @click="doGiftAgain"
              >
                {{ $t('success_button') }}
              </v-btn>
            </v-col>

            <v-col
              cols="12"
              sm="6"
              class="text-center"
            >
              <v-btn
                large
                width="170"
                color="dianthus-400"
                class="black--text elevation-0"
                @click="goToGiftcardHome"
              >
                {{ $t('success_goto_home') }}
              </v-btn>
            </v-col>
          </v-row>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { Security } from 'ui-components';

  export default {
    components: {
      Security
    },

    data() {
      return {
        terms: false,
        editing: false,
        showSecurity: false,
        creating: false,
        success: false,
        validating: false,
        rules: {
          required: (v) => !!v || this.$t("errors.required")
        }
      }
    },

    computed: {
      ...mapState('user', [
        'current',
      ]),

      ...mapState('giftcard', [
        'amount',
        'currency',
        'message'
      ]),

      parsedMessage() {
        if(!this.message.message) return '';
        return this.message.message.replace(/(\r\n|\n|\r)/gm, '<br/>');
      },

      giftcardData() {
        return {
          from: this.current.firstname,
          firstname: this.message.firstname,
          lastname: this.message.lastname,
          amount: this.amount + ' ' + this.currency.name
        }
      }
    },

    methods: {
      ...mapActions('giftcard', [
        'create',
        'setTheme',
        'setMessage',
        'setCurrency',
        'setAmount',
        'setStep',
        'prevStep',
        'nextCreationKey',
        'validateUser'
      ]),

      confirm() {
        this.showSecurity = true;
        //this.checkSecurity(true);
      },

      checkSecurity(value) {
        if(!value) {
          return;
        }

        this.showSecurity = false;
        this.creating = true;

        this.create().then((response) => {
          if(response.hasOwnProperty('message')) {
            if(response.message === 'not_valid') {
              this.goToGiftcardHome(response.error_code);
            } else {
              this.success = true;
            }
            return;
          }

          this.goToGiftcardHome(0);
        }).catch(() => {
          this.goToGiftcardHome(0);
        });
      },

      clearGiftCard() {
        this.setTheme('happy');
        this.setMessage({});
        this.setCurrency({});
        this.setAmount(0);
        this.setStep(1);
      },

      doGiftAgain() {
        this.validating = true;
        this.validateUser().then((response) => {
          if(!response || response.message !== 'valid') {
            this.goToGiftcardHome(response.error_code);
          } else {
            this.clearGiftCard();
            this.nextCreationKey();
            this.$vuetify.goTo(0, { duration: 350 });
          }
        });
      },

      goToGiftcardHome(error) {
        let url = '/giftcard';
        if(error !== null) url += '?validation=' + error;
        
        this.clearGiftCard();
        this.$router.push(url);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-window {
    background: transparent !important;
  }
</style>