<i18n>
{
  "es": {
    "to": "¿A quién le enviamos la gift card?",
    "choose": "Elegí el motivo de tu gift card",
    "themes": {
      "christmas": "Feliz Navidad",
      "birthday": "Cumpleaños",
      "crypto": "Tu primer cripto",
      "anniversary": "Aniversario",
      "love": "Te quiero",
      "wish": "Te deseo",
      "happy": "Feliz día"
    },
    "message": {
      "firstname": "Nombre",
      "lastname": "Apellido",
      "email": "Email",
      "message": "Mensaje"
    },
    "errors": {
      "required": "Requerido",
      "max_chars": "Máximo 20 caracteres",
      "email": "E-mail inválido"
    },
    "continue": "Continuar",
    "back": "Volver"
  }
}
</i18n>

<template>
  <div
    class="px-0 px-sm-12"
  >
    <v-row
      no-gutters
    >
      <v-col>
        <span
          class="d-block title-2 mb-4"
        >
          {{ $t('choose') }}
        </span>

        <div
          class="carousel-container"
          :class="{'desktop': $vuetify.breakpoint.mdAndUp}"
        >
          <carousel
            ref="carousel"
            :nav="false"
            :dots="false"
            :margin="10"
            :responsive="{0:{items:3},450:{items:4},700:{items:5}}"
            @translate="translate"
          >
            <template v-if="!isXsSm()" slot="prev">
              <span class="prev">
                <v-btn text icon>
                  <v-icon large>
                    mdi-chevron-left
                  </v-icon>
                </v-btn>
              </span>
            </template>
            
            <template v-if="!isXsSm()" slot="next">
              <span class="next">
                <v-btn text icon>
                  <v-icon large>
                    mdi-chevron-right
                  </v-icon>
                </v-btn>
              </span>
            </template>

            <template
              v-for="(item, key) in themes"
            >
              <div
                class="text-center mr-1"
              >
                <v-card
                  :key="key"
                  :class="{'selected': item === theme}"
                  @click="selectTheme(item)"
                >
                  <v-img
                    :src="require('../../../../assets/images/giftcard/themes/' + item + '.jpg')"
                  />
                </v-card>
                <span
                  class="d-block caption-2 font-weight-bold mt-4"
                >
                  {{ $t('themes.' + item) }}
                </span>
              </div>
            </template>
          </carousel>
        </div>
      </v-col>
    </v-row>

    <v-form
      ref="form"
      v-model="valid"
    >
      <v-row>
        <v-col
          cols="12"
        >
          <span
            class="d-block title-2 mt-8"
          >
            {{ $t('to') }}
          </span>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="pb-0"
        >
          <v-text-field
            v-model="message.firstname"
            :rules="[rules.required, rules.maxChars]"
            :label="$t('message.firstname')"
          ></v-text-field>

          <v-text-field
            v-model="message.lastname"
            :rules="[rules.required, rules.maxChars]"
            :label="$t('message.lastname')"
          ></v-text-field>

          <v-text-field
            v-model="message.email"
            :rules="[rules.required, rules.email]"
            :label="$t('message.email')"
          ></v-text-field>
        </v-col>

        <v-col
          cols="12"
          sm="6"
          class="mt-2 text-center"
        >
          <v-textarea
            outlined
            no-resize
            height="183"
            v-model="message.message"
            :rules="[rules.required]"
            :label="$t('message.message')"
          ></v-textarea>
        </v-col>
      </v-row>

      <v-row>
        <v-col
          class="pt-0 text-center text-sm-right"
        >
          <v-btn
            large
            outlined
            color="dianthus-600"
            class="black--text elevation-0 mr-4"
            :width="$vuetify.breakpoint.xs ? 130 : 220"
            @click="$router.push('/giftcard')"
          >
            {{ $t('back') }}
          </v-btn>

          <v-btn
            large
            color="dianthus-400"
            class="black--text elevation-0"
            :width="$vuetify.breakpoint.xs ? 130 : 220"
            :disabled="!valid"
            @click="setMsg()"
          >
            {{ $t('continue') }}
          </v-btn>
        </v-col>
      </v-row>
    </v-form>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import carousel from 'vue-owl-carousel'

  export default {
    components: {
      carousel
    },

    data() {
      return {
        valid: false,
        tmpIndex: 1,
        message: {
          firstname: '',
          lastname: '',
          email: '',
          message: ''
        },
        themes: [
          //'christmas',
          'happy',
          'crypto',
          'anniversary',
          'birthday',
          'love',
          'wish'
        ],
        rules: {
          required: (v) => !!v || this.$t("errors.required"),
          maxChars: (v) => (v || '').length <= 20 || this.$t('errors.max_chars'),
          email: (v) => /.+@.+/.test(v) || this.$t("errors.email"),
        }
      }
    },

    computed: {
      ...mapState('giftcard', [
        'theme'
      ])
    },

    methods: {
      ...mapActions('giftcard', [
        'setMessage',
        'setTheme',
        'nextStep'
      ]),

      selectTheme(theme) {
        this.setTheme(theme);
      },

      setMsg() {
        this.message.email = this.message.email.trim();
        this.setMessage(this.message);
        this.$vuetify.goTo(0, { duration: 350 });
        this.nextStep();
      },

      updateWidth() {
        if(this.$vuetify.breakpoint.xs) {
          this.$refs.carousel.$el.style.width = (window.innerWidth - 32) + 'px';
        }
      },

      translate(e) {
        // This fix the occasionally moving out of bound of index
        if(e.item.index > 4) {
          setTimeout(() => e.relatedTarget.to(this.tmpIndex), 5);
        } else {
          this.tmpIndex = e.item.index;
        }
      }
    },

    created() {
      window.addEventListener("resize", this.updateWidth);
    },

    destroyed() {
      window.removeEventListener("resize", this.updateWidth);
    },

    mounted() {
      this.updateWidth();
    }
  }
</script>

<style lang="scss" scoped>
  .carousel-container {
    position: relative;
    margin: 0px;
    padding: 0px;

    &.desktop {
      max-height: 154px;
      overflow: hidden;   
    }

    .next {
      position: absolute;
      right: -40px;
      top: calc(50% - 32px);
    }

    .prev {
      position: absolute;
      top: calc(50% - 32px);
      left: -45px;
    }
  }

  .v-card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
    overflow: hidden;

    &.selected {
      ::v-deep .v-image__image {
        box-shadow: inset 0px 0px 0px 4px var(--lirio-secondary);
      }
    }
  }

	 ::v-deep .owl-prev {
     color: rgb(58, 54, 54)!important;
        border-radius: 50px!important;
        width: 30px;
        height: 30px;
        position: relative;
        top: -120px;
        float: left;
        left: -38px;
  }

  ::v-deep .owl-next {
     color: rgb(126, 113, 113)!important;
        border-radius: 50px!important;
        width: 30px;
        height: 30px;
        position: relative;
        top: -120px;
        float: right;
        font-weight: 900;
        right: -33px;
  }

</style>