<i18n>
{
  "es": {
    "choose": "Elegí el regalo",
    "stable": "Stablecoins",
    "cryptos": "Criptomonedas",
    "amount": "¿Cuánto querés regalar?",
    "continue": "Continuar",
    "back": "Anterior",
    "errors": {
      "required": "Debe ingresar un monto",
      "minAmount": "El monto ingresado debe ser mayor a 0",
      "maxAmount": "El monto no puede ser mayor que tu saldo disponible",
      "limitAmount": "El monto límite de gift card es de {amount} {currency}"
    }
  }
}
</i18n>

<template>
  <div
    class="px-0 px-sm-6"
  >
    <v-row
      no-gutters
      v-if="currencies.options"
    >
      <v-col>
        <span
          class="d-block title-2 mb-4"
        >
          {{ $t('choose') }}
        </span>

        <v-row
          :dense="$vuetify.breakpoint.xs"
          v-if="stableCoins.length > 0"
        >
          <v-col
            cols="12"
            class="pt-6 pb-2 pb-sm-0"
          >
            <span
              class="subtitle-2 font-weight-regular"
            >
              {{ $t('stable') }}
            </span>
          </v-col>

          <v-col
            cols="8"
            sm="4"
            v-for="(item, index) in stableCoins"
            :key="'stable_' + index"
          >
            <currency-button
              large
              :currency="item"
              :selected="selectedItem && selectedItem.name === item.name"
              @onclick="selectItem(item)"
            ></currency-button>
          </v-col>
        </v-row>

        <v-row
          :dense="$vuetify.breakpoint.xs"
          v-if="cryptos.length > 0"
        >
          <v-col
            cols="12"
            class="pt-6 pb-2 pb-sm-0"
          >
            <span
              class="subtitle-2 font-weight-regular"
            >
              {{ $t('cryptos') }}
            </span>
          </v-col>

          <v-col
            cols="8"
            sm="4"
            v-for="(item, index) in cryptos"
            :key="'crypto_' + index"
          >
            <currency-button
              :currency="item"
              :selected="selectedItem && selectedItem.name === item.name"
              @onclick="selectItem(item)"
            ></currency-button>
          </v-col>
        </v-row>

        <v-row
          class="amount-container"
        >
          <v-scroll-x-transition>
            <v-col
              cols="12"
              class="pt-6 pb-0"
              v-show="selectedItem"
            >
              <span
                class="subtitle-2 font-weight-regular"
              >
                {{ $t('amount') }}
              </span>

              <div
                class="d-flex justify-start align-center mt-4"
                v-if="selectedItem"
              >
                <v-avatar
                  class="mr-3"
                  size="16"
                >
                  <v-img
                    :src="selectedItem.logoUrl"
                    :alt="selectedItem.name"
                  />
                </v-avatar>

                <div
                  class="d-flex align-center body-1 font-weight-bold black--text"
                >
                  <span
                    class="d-inline-block mr-4"
                  >
                    {{ selectedItem.name }}
                  </span>

                  <span
                    class="d-inline-block input-container"
                    :class="{'mobile': $vuetify.breakpoint.xs}"
                  >
                    <v-autonumeric
                      v-model="amount"
                      id="amount"
                      label="" 
                      width="260"
                      class="mt-0 pt-0"
                      :error="hasError"
                      :options="inputConfig"
                    ></v-autonumeric>

                    <v-scroll-y-transition>
                      <span
                        v-show="hasError"
                        class="caption-2 font-weight-regular error-message error--text"
                      >
                        {{ errorMessage }}
                      </span>
                    </v-scroll-y-transition>
                  </span>
                </div>
              </div>
            </v-col>
          </v-scroll-x-transition>
        </v-row>

        <v-row>
          <v-col
            cols="12"
            class="mt-6 mt-sm-4 text-center text-sm-right"
          >
            <v-btn
              large
              outlined
              color="dianthus-600"
              class="black--text elevation-0 mr-4"
              :width="$vuetify.breakpoint.xs ? 130 : 220"
              @click="prevStep"
            >
              {{ $t('back') }}
            </v-btn>

            <v-btn
              large
              color="dianthus-400"
              class="black--text elevation-0"
              :width="$vuetify.breakpoint.xs ? 130 : 220"
              :disabled="disabled"
              @click="vaildate()"
            >
              {{ $t('continue') }}
            </v-btn>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
  </div>

  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { CurrencyButton } from 'ui-components';

  export default {
    components: {
      CurrencyButton
    },

    data() {
      return {
        amount: 0,
        hasError: false,
        selectedItem: null,
        errorMessage: '',
        converting: false,
        limit: null,
        inputConfig: {
          digitGroupSeparator: '.',
          decimalCharacter: ',',
          decimalCharacterAlternative: '.',
          roundingMethod: 'U',
          decimalPlaces: 2,
          minimumValue: '0'
        }
      }
    },

    computed: {
      ...mapState("withdraw", [
        "currencies"
      ]),

      cryptos() {
        return this.currencies.options.cryptos.filter(item => parseFloat(item.available) > 0);
      },

      stableCoins() {
        return this.currencies.options.stable_coins.filter(item => parseFloat(item.available) > 0);
      },

      disabled() {
        return this.converting || this.amount <= 0 || this.hasError || this.selectedItem === null;
      },

      currencyLimit() {
        return process.env.VUE_APP_COMMUNITY_GIFTCARD_CURRENCY_LIMIT;
      },

      amountLimit() {
        return process.env.VUE_APP_COMMUNITY_GIFTCARD_AMOUNT_LIMIT;
      }
    },

    watch: {
      amount(v) {
        this.hasError = false;
        this.errorMessage = '';
        this.validateAmount();
      }
    },

    methods: {
      ...mapActions("withdraw", [
        "getUserCurrencies"
      ]),

      ...mapActions('giftcard', [
        'setCurrency',
        'setAmount',
        'nextStep',
        'prevStep'
      ]),

      validateAmount() {
        if(this.amount > this.selectedItem.available) {
          this.hasError = true;
          this.errorMessage = this.$t('errors.maxAmount');
          return;
        }

        if(this.limit && this.limit > 0) {
          if(this.amount > this.limit) {
            this.hasError = true;
            this.errorMessage = this.$t('errors.limitAmount', {amount: this.limit, currency: this.selectedItem.name});
            return;
          }
        }
      },

      async selectItem(item) {
        let t = {...this.inputConfig};
        t.decimalPlaces = item.parts_presicion;
        this.hasError = false;
        this.errorMessage = '';
        this.selectedItem = item;
        this.inputConfig = t;
        this.converting = true;
        this.limit = null;
        this.limit = await this.convertCurrency(this.currencyLimit, item.name, this.amountLimit);
        this.limit = parseFloat(this.limit).toFixed(t.decimalPlaces);
        this.converting = false;
        this.validateAmount();
      },

      selectGift() {
        this.setCurrency(this.selectedItem);
        this.setAmount(this.amount);
        this.$vuetify.goTo(0, { duration: 350 });
        this.nextStep();
      },

      vaildate() {
        if(this.amount === null || this.amount === '') {
          this.hasError = true;
          this.errorMessage = this.$t('errors.required');
        }

        if(this.amount <= 0) {
          this.hasError = true;
          this.errorMessage = this.$t('errors.minAmount');
        }

        if(this.amount > this.selectedItem.available) {
          this.hasError = true;
          this.errorMessage = this.$t('errors.maxAmount');
        }

        if(!this.hasError) {
          this.selectGift();
        }
      }
    },

    async created() {
      await this.getUserCurrencies();
    }
  }
</script>

<style lang="scss" scoped>
  .amount-container {
    min-height: 110px;

    .input-container {
      width: 260px;

      &.mobile {
        width: 220px;
      }
    }
  }

  ::v-deep .v-text-field {
    input {
      padding-top: 14px !important;
    }
  }

  .error-message {
    position: absolute;
  }
</style>