<i18n>
{
  "es": {
    "referral_succes": "Te asociaste a tu amigo con éxito.",
    "referral_errors": {
      "error_1": "Ya posee un referente",
      "error_2": "No existe el referente",
      "error_3": "No se puede referir a si mismo",
      "error_4": "Cupón no válido para el país del referente",
      "error_5": "El referente no tiene la documentacion aprobada",
      "error_6": "Cupón no válido para su país",
      "error_7": "Tu cuenta tiene mas de 30 días",
      "error_8": "No puedes ser referido de tu amigo por 30 dias",
      "error_default": "Ha ocurrido un error"
    },
    "header": {
      "title": "Mis Socios - SeSocio.com",
      "description": "Quería contarte que hace un tiempo soy usuario de SeSocio.com. que es un supermercado de inversiones en el que encontrás varios proyectos para invertir. Invertís 100% online. Con Tarjeta de cŕedito, transferencia bancaria, o bitcoins. Si vos invertís yo me llevo un importante premio, ¡así que se socio!",
      "meta": {
        "title": "SeSocio.com - Programa de referidos",
        "description": "Invitá a tus amigos y los dos ganan con sus inversiones. El marketplace de inversiones donde vos tambien podés participar.",
        "siteName": "SeSocio.com"
      }
    }
  },
  "en": {
    "referral_succes": "Te asociaste a tu amigo con éxito.",
    "referral_errors": {
      "error_1": "Ya posee un referente",
      "error_2": "No existe el referente",
      "error_3": "No se puede referir a si mismo",
      "error_4": "Cupón no válido para el país del referente",
      "error_5": "El referente no tiene la documentacion aprobada",
      "error_6": "Cupón no válido para su país",
      "error_7": "Tu cuenta tiene mas de 30 días",
      "error_8": "No puedes ser referido de tu amigo por 30 dias",
      "error_default": "Ha ocurrido un error"
    },
    "header": {
      "title": "My partners - SeSocio.com",
      "description": "I wanted to tell you that a while ago I am a user of SeSocio.com. which is an investment supermarket in which you find several projects to invest. You invest 100% online With credit card, bank transfer, or bitcoins. If you invest, I'll get an important prize, so be a member!",
      "meta": {
        "title": "SeSocio.com - Programa de referidos",
        "description": "Invitá a tus amigos y los dos ganan con sus inversiones. El marketplace de inversiones donde vos tambien podés participar.",
        "siteName": "SeSocio.com"
      }
    }
  }
}
</i18n>

<template>
  <div>
    <template v-if="isLoggedIn">
      <LoggedIn></LoggedIn>
    </template>
    <template v-else>
      <NotLoggedIn></NotLoggedIn>
      <Snackbar :show="snackbar" />
    </template>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import LoggedIn from "./LoggedIn";
  import NotLoggedIn from "./NotLoggedIn";
  import Snackbar from "../components/not_logged_in/WelcomeSnackbar";

  export default {
    components: {
      LoggedIn,
      NotLoggedIn,
      Snackbar
    },

    head: {
      title: function () {
        return {
          inner: this.$t('header.title')
        }
      },

      meta: function () {
        return [
          { property: 'og:title', content: this.$t('header.meta.title'), id: 'ogtitle' },
          { property: 'og:description', content: this.$t('header.meta.description'), id: 'ogdesc' },
          { property: 'og:site_name', content: this.$t('header.meta.siteName'), id: 'ogsite' },
          { property: 'og:image', content: require('../../../assets/images/referral/share.png'), id: 'ogimg' },
          { property: 'og:image:width', content: '369', id: 'ogimgw' },
          { property: 'og:image:height', content: '369', id: 'ogimgh' },
          { property: 'og:url', content: 'https://www.sesocio.com', id: 'ogurl' },
          { property: 'og:type', content: 'website', id: 'ogtype' },
        ]
      }
    },

    data() {
      return {
        snackbar: false
      }
    },

    computed: {
      ...mapState('user', [
        'isLoggedIn'
      ]),

      ...mapState('referral', [
        'refererCode'
      ])
    },

    methods: {
      ...mapActions('snackbar', [
        'showSnackbar'
      ]),

      ...mapActions('referral', [
        'assignReferer',
        'setReferrerCode'
      ]),

      processResponse(r) {
        if(r.data.hasOwnProperty('msg') && r.data.msg === 'assign') {
          this.showSnackbar({
            type: 'success',
            message: this.$t('referral_succes')
          });

          window.history.pushState('', '', this.$route.path);
        } else {
          this.showSnackbar({
            message: this.$t('referral_errors.error_' + (r.data.error_code || 'default'))
          });
        }
      },

      getSource(s) {
        switch (s) {
          case 'f':
            return 'facebook';
            break;

          case 'l':
            return 'linkedin';
            break;

          case 't':
            return  'twitter';
            break;

          case 'ww':
            return  'whatsapp';
            break;

          case 'wa':
            return 'whatsapp-mobile';
            break;

          case 'tl':
            return 'telegram';
            break;
        }
      }
    },

    watch: {
      isLoggedIn(v) {
        if(v) {
          this.snackbar = false;
          setTimeout(() => {
            if(this.refererCode) {
              this.assignReferer(this.refererCode).then(r => this.processResponse(r));
            }
          }, 1000);
        }
      }
    },

    mounted() {
      if(this.$route.query.hasOwnProperty('c')) {
        this.setReferrerCode(this.$route.query.c);

        if(this.isLoggedIn) {
          this.assignReferer(this.refererCode).then(r => this.processResponse(r));
        } else {
          this.snackbar = true;
        }
      }

      if(this.$route.query.hasOwnProperty('s')) {
        this.$gtm.trackEvent({
          event: 'linkedEvent',
          category: 'Referrals',
          action: 'Linked',
          label: this.getSource(this.$route.query.s),
          noninteraction: false
        });
      }
    }
  }
</script>