<template>
  <div>
    <jackpot></jackpot>
    <hero></hero>
    <Wrapper
      marginInner="ma-0"
      layoutWidth="100%"
      containerWidth="100%"
    >
      <template
        slot="content"
      >
        <Wrapper
          mainContainerClass="bgTransparent"
        >
          <template
            slot="content"
          >
            <v-row>
              <v-col cols="12" md="6">
                <accumulated></accumulated>
              </v-col>
              <v-col cols="12" md="6">
                <refer></refer>
              </v-col>
            </v-row>
          </template>
        </Wrapper>
      </template>
    </Wrapper>
    <referrals></referrals>
    <conditions></conditions>
    <activate-dialog></activate-dialog>
  </div>
</template>

<script>
  import Hero from "../components/Hero";
  import Jackpot from "../components/logged_in/Jackpot";
  import Accumulated from "../components/logged_in/Accumulated";
  import Refer from "../components/logged_in/Refer";
  import Referrals from "../components/logged_in/Referrals";
  import Conditions from "../components/logged_in/Conditions";
  import ActivateDialog from "../components/logged_in/ActivateDialog";

  export default {
    components: {
    	Jackpot,
      Hero,
      Accumulated,
      Refer,
      Referrals,
      Conditions,
      ActivateDialog
    }
  }
</script>