<template>
  <div>
    <hero></hero>
    <how-it-works></how-it-works>
    <requirements></requirements>
  </div>
</template>

<script>
  import Hero from "../components/Hero";
  import HowItWorks from "../components/not_logged_in/HowItWorks";
  import Requirements from "../components/not_logged_in/Requirements";

  export default {
    components: {
      Hero,
      HowItWorks,
      Requirements
    }
  }
</script>