<i18n>
{
  "es": {
    "title": "Ranking Red social"
  }
}
</i18n>

<template>
  <div>
    <Wrapper
      marginInner="ma-0"
      layoutWidth="100%"
      containerWidth="100%"
    >
      <template
        slot="content"
      >
        <Wrapper
          mainContainerClass="bgWhite"
        >
          <template
            slot="content"
          >
            <v-row
              class="mb-6 mb-sm-10"
            >
              <v-col
                cols="12"
                class="mt-4 mt-sm-8"
              >
                <h1
                  class="mb-3 mb-sm-8"
                  :class="$vuetify.breakpoint.xs ? 'title-2' : 'headline'"
                >
                  {{ $t('title') }}
                </h1>

                <user-score
                  :user="userScore"
                  :total="total"
                ></user-score>
              </v-col>

              <v-col
                cols="12"
                sm="6"
              >
                <ranking-list
                  :list="ranking"
                  @getNextPage="getRankingNextPage"
                ></ranking-list>
              </v-col>

              <v-col
                cols="12"
                sm="6"
              >
                <articles
                  class="mt-sm-4 mb-6 mb-sm-8"
                  :articles="articles"
                ></articles>
              
                <banner></banner>
              </v-col>
            </v-row>
          </template>
        </Wrapper>
      </template>
    </Wrapper>

    <Wrapper
      marginInner="ma-0"
      layoutWidth="100%"
      containerWidth="100%"
    >
      <template
        slot="content"
      >
        <Wrapper>
          <template
            slot="content"
          >
            <conditions></conditions>
          </template>
        </Wrapper>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import UserScore from '../components/UserScore';
  import RankingList from '../components/RankingList';
  import Articles from '../components/Articles';
  import Banner from '../components/Banner';
  import Conditions from '../components/Conditions';

  export default {
    components: {
      UserScore,
      RankingList,
      Articles,
      Banner,
      Conditions
    },

    computed: {
      ...mapState('ranking', [
        'loadingNextPage',
        'userScore',
        'ranking',
        'total'
      ]),

      ...mapState('articles', [
        'articles'
      ])
    },

    methods: {
      ...mapActions('ranking', [
        'getUserScore',
        'getRankingCount',
        'getRanking'
      ]),

      ...mapActions('articles', [
        'getArticlesRaw'
      ]),

      getRankingNextPage() {
        if(!this.loadingNextPage) {
          this.getRanking(true);
        }
      }
    },

    created() {
      this.getUserScore();
      this.getRankingCount();
      this.getRanking();
      this.getArticlesRaw('press');
    }
  }
</script>