<i18n>
{
  "es": {
    "title": "Tu acumulado",
    "won": "Ganados",
    "generated": "Tickets",
    "ticket": "Ticket",
    "tickets": "Tickets"
  },
  "en": {
    "title": "Tu acumulado",
    "won": "Ganados",
    "generated": "Tickets",
    "ticket": "Ticket",
    "tickets": "Tickets"
  }
}
</i18n>

<template>
  <div>
    <v-row
      class="fill-height"
    >
      <v-col
        cols="12"
        class="d-flex justify-left align-center custom-height"
        :class="$vuetify.breakpoint.smAndDown ? 'mt-10 pl-6' : 'mt-16'"
      >
        <img
          :src="require('../../../../assets/images/referral/icon-accumulated.png')"
          :width="$vuetify.breakpoint.smAndDown ? 58 : 64"
          :height="$vuetify.breakpoint.smAndDown ? 58 : 64"
          class="ml-n3"
        />
        <h1
          :class="$vuetify.breakpoint.smAndDown ? 'headline' : 'headline ml-2'"
        >
          {{ $t('title') }}
        </h1>
      </v-col>

      <v-col
        cols="12"
        class="d-flex justify-left align-center "
        :class="$vuetify.breakpoint.smAndDown ? 'mb-4 pt-0' : 'mb-16'"
      >
        <v-card
          width="100%"
          rounded="lg"
          class="custom-shadow"
          :class="$vuetify.breakpoint.xs ? '' : 'fix-height'"
        >
          <v-card-text
            :class="$vuetify.breakpoint.xs ? '' : 'd-flex px-6 py-6'"
          >
            <v-row
              fill-height
            >
              <v-col
                cols="12"
                sm="4"
                class="d-flex justify-content align-center"
                :class="$vuetify.breakpoint.xs ? ' background pb-0' : ''"
              >
                <div
                  class="text-center"
                  style="width:100%"
                >
                  <v-avatar
                    :size="$vuetify.breakpoint.xs ? 50 : 36"
                  >
                    <v-img
                      alt="user"
                      :src="current.photo"
                    />
                  </v-avatar>

                  <span
                    v-if="!$vuetify.breakpoint.xs"
                    class="d-block mt-1 caption-2 text-truncate black--text"
                  >
                    {{ current.firstname }} {{ current.lastname }}
                  </span>
                </div>
              </v-col>

              <v-col
                cols="12"
                sm="4"
                class="d-flex align-center"
                :class="$vuetify.breakpoint.xs ? 'justify-center mobile-border' : 'justify-left custom-border'"
              >
                <div>
                  <span
                    class="font-weight-bold"
                    :class="$vuetify.breakpoint.xs ? 'text-uppercase lirio-secondary--text title-2' : 'subtitle-1 black--text d-block'"
                  >
                    {{ $t('won') }}
                  </span>

                  <span
                    class="font-weight-bold lirio-secondary--text"
                    :class="$vuetify.breakpoint.smAndDown ? ' text-uppercase title-2' : 'title d-block mt-n2'"
                  >
                    {{ accumulated }} {{ accumulatedCurrency }}
                  </span>
                </div>
              </v-col>

              <v-col
                cols="12"
                sm="4"
                class="d-flex align-center pr-0"
                :class="$vuetify.breakpoint.xs ? 'justify-center' : 'justify-left'"
              >
                <div>
                  <span
                    class="font-weight-bold"
                    :class="$vuetify.breakpoint.xs ? 'text-uppercase lirio-secondary--text title-2' : 'subtitle-1 black--text d-block'"
                  >
                    {{ $t('generated') }}
                  </span>

                  <span
                    class="font-weight-bold lirio-secondary--text"
                    :class="$vuetify.breakpoint.smAndDown ? 'title-2 text-uppercase mt-1' : 'title d-block mt-n2'"
                  >
                    {{ tickets }}
                  </span>
                </div>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    computed: {
      ...mapState('referral', [
        'accumulatedCurrency',
        'accumulated',
        'tickets'
      ]),

      ...mapState('user', [
        'current'
      ])
    },

    methods: {
      ...mapActions('referral', [
        'getUserAccumulated',
        'getTickets'
      ])
    },

    mounted() {
      this.getTickets();
      this.getUserAccumulated();
    }
  }
</script>

<style lang="scss" scoped>
  .custom-height {
    height: 60px;
  }

  .custom-shadow {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.16) !important;
  }

  .custom-border {
    position: relative;

    &::after {
      content: '';
      opacity: .5;
      border-left: 0.5px solid #d9d9d9;
      border-right: 0.5px solid #d9d9d9;
      top: 25%;
      left: 0;
      position: absolute;
      width: 100%;
      height: 50%;
    }
  }

  .mobile-border {
    position: relative;

    &::after {
      content: '';
      opacity: .5;
      border-bottom: 0.5px solid #707070;
      top: 0;
      left: 0;
      position: absolute;
      width: 100%;
      height: 100%;
    }
  }

  .background {
    position: relative;

    .v-avatar {
      z-index: 1;
    }

    &::after {
      content: '';
      opacity: .5;
      opacity: 0.6;
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #ebebeb;
      top: -4px;
      left: -3px;
      position: absolute;
      width: calc(100% + 6px);
      height: 60%;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
    }
  }

  .v-card {
    &.fix-height {
      height: 120px;
    }

    .v-card__text {
      height: 100%;
    }

    .display-1 {
      font-size: 40px !important;
    }
  }
</style>