<i18n>
{
  "es": {
    "title": "¡Bienvenid@ a referidos!",
    "activate": "Para participar del sorteo con tu amig@ tenés que activar tu cuenta.",
    "deposit": "Para participar del sorteo con tu amig@ tenés que cargar un mínimo de saldo en tu cuenta.<br/>Con 1 IARS ya estás participando.",
    "activate_deposit": "Para participar del sorteo con tu amig@ tenés que activar tu cuenta y a la vez cargar un mínimo de saldo.",
    "buttons": {
      "activate": "Activar cuenta",
      "deposit": "Cargar saldo"
    }
  },
  "en": {
    "title": "¡Bienvenid@ a referidos!",
    "activate": "Para participar del sorteo con tu amig@ tenés que activar tu cuenta.",
    "deposit": "Para participar del sorteo con tu amig@ tenés que cargar un mínimo de saldo en tu cuenta.<br/>Con 1 IARS ya estás participando.",
    "activate_deposit": "Para participar del sorteo con tu amig@ tenés que activar tu cuenta y a la vez cargar un mínimo de saldo.",
    "buttons": {
      "activate": "Activar cuenta",
      "deposit": "Cargar saldo"
    }
  }
}
</i18n>

<template>
  <v-dialog
    v-model="showDialog"
    width="450"
  >
    <v-card
      class="px-4 pt-10"
    >
      <v-card-text
        class="text-center"
      >
        <div
          class="close"
        >
          <v-btn
            icon
            class="elevation-0"
            @click="dialog = false"
          >
            <v-icon>
              mdi-close
            </v-icon>
          </v-btn>
        </div>
        <div
          class="custom-title poppins font-weight-bold lirio-secondary--text mb-4"
        >
          {{ $t('title') }}
        </div>

        <span
          class="black--text"
          v-html="$t(dialogText)"
        ></span>
      </v-card-text>

      <v-card-actions>
        <div
          class="buttons-container mx-auto mb-4"
          :class="{'mobile': $vuetify.breakpoint.xs}"
        >
        <v-btn
          v-if="!current.all_documents_approved"
          block
          color="primary"
          class="elevation-0 mb-2"
          to="/user/documentation"
        >
          {{ $t('buttons.activate') }}
        </v-btn>

        <v-btn
          v-if="!current.has_deposits"
          block
          color="primary"
          class="elevation-0"
          to="/deposit"
          :outlined="!current.all_documents_approved"
        >
          {{ $t('buttons.deposit') }}
        </v-btn>
      </div>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    data() {
      return {
        dialog: true
      }
    },

    computed: {
      ...mapState('user', [
        'current'
      ]),

      ...mapState(
        'onboarding_dialog', [
          'current_step_dialog'
        ]
      ),

      isOnboardingActive() {
        return this.current_step_dialog === 2;
      },

      showDialog() {
        return !this.isOnboardingActive &&
                this.dialog &&
                this.current.hasOwnProperty('has_deposits') && 
                !(this.current.has_deposits && this.current.all_documents_approved);
      },

      dialogText() {
        let text = 'activate_deposit';
        if(this.current.has_deposits) text = 'activate';
        if(this.current.all_documents_approved) text = 'deposit';

        return text;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .close {
    position: absolute;
    top: 10px;
    right: 10px;
  }

  .custom-title {
    font-size: 24px;
  }

  .buttons-container {
    min-width: 300px;

    &.mobile {
      min-width: 200px;
    }
  }
</style>