<i18n>
{
  "es": {
    "title": "¿Cómo participar?",
    "steps": {
      "step_1": {
        "title": "Qué es el pozo",
        "title_mobile": "Condiciones",
        "text": "Refiriendo podés ganar y además participar del LoteSocio. Por cada amigo que refieras a SeSocio y que tenga la documentación aprobada, más una carga de saldo (sin monto mínimo), te llevás 1 IUSD y se genera un ticket para el sorteo en el que ambos acumulan 5 IUSD al pozo general."
      },
      "step_2": {
        "title": "Cómo y cuándo se sortea",
        "title_mobile": "Cuándo se sortea",
        "text": "&#8226; Para acumular tickets, cada amigo referido deberá tener su documentación cargada y aprobada. También deberá realizar una carga de saldo (sin monto mínimo).<br/>&#8226; El sorteo se realizará el último día hábil de cada mes.<br/>&#8226; ¡Más tickets acumulas.más posibilidades tienes de ganar!"
      },
      "step_3": {
        "title": "Cómo canjeo el premio",
        "title_mobile": "Premio",
        "text": "El premio se acreditará automáticamente en tu cuenta a las 72 horas de realizado el sorteo y luego de responder unas breves preguntas."
      },
      "step_4": {
        "title": "Preguntas frecuentes",
        "title_mobile": "Términos y condiciones",
        "text": "<strong>¿Cómo funciona y participo del programa de Referidos?</strong><br/>Comienza a referir amigos, y por cada uno que abra su cuenta SeSocio, complete la documentación y cargue saldo (sin monto mínimo), ganarás 1 USD y se sumarán 5 USD al pozo acumulado del LoteSocio. Mensualmente se sortea el pozo entre todos los referidos de ese mes.<br/>Desde esta sección puedes invitar a tus amigos enviándoles un mensaje a través de las redes sociales o copiando el link. Ese link contendrá un código único que identificará que es tu referido, tiene una validez de 30 días.<br/>Si el plazo vence, no te preocupes podrás recordarle desde esta sección y se generará un nuevo código.<br/><br/><strong>¿Cuáles son las condiciones para participar?</strong><br/>Para que ambos puedan participar deben tener la documentación cargada y aprobada. Verificala en <a href='/user/documentation'>https://www.sesocio.com/user/documentation</a>.<br/>Tu referido debe ser una nueva cuenta, no participan amigos que ya son usuarios SeSocio.<br/><br/><strong>¿Cuántos amigos puedo referir?</strong><br/>Podrás referir a todos los amigos que quieras ¡Cuánto más refieres, más ganas!<br/><br/><strong>¿Qué es el LoteSocio y cómo participo?</strong><br/>El LoteSocio es el pozo acumulado mensual,por cada nuevo referido que complete la documentación y cargue saldo (sin monto mínimo), se suma al pozo acumulado IUSD5. Se les otorgará un ticket para participar.<br/>Si tu referido cumplió con las condiciones, ambos participarán del sorteo mensual que se realiza el último día hábil del mes.<br/><br/><strong>¿Dónde puedo ver mis referidos, tickets acumulados y sorteos?</strong><br/>En esta sección podrás ver el listado de todos tus amigos y si ya completaron la documentación y cargaron saldo. ¡Si no lo hicieron, podrás recordarles ahí mismo!<br/>Para saber si ya participaron o participarán del sorteo, fijáte en la columna “Fecha sorteo”. Si no hay fecha es porque aún tu referido no completó todos los pasos.<br/><br/><strong>¿Cómo canjeo el premio de Referidos?</strong><br/>Cuando tu referido realice el alta completa automáticamente se les asignará a su cuenta $1. Si fueron afortunados y ganaron el LoteSocio les realizaremos algunas preguntas y luego repartiremos y acreditaremos en sus cuentas el premio del pozo acumulado.<br/><br/><strong>Mi amigo dió de alta la cuenta y no utilizó el código.</strong><br/>¡Ups! Lamentablemente si tu amigo no utilizó tu código referido, esta dupla no podrá participar del programa de Referidos. La próxima vez que recomiendes a alguien, recuérdale que debe hacer clic en el enlace que le enviaste para obtener un código de recomendación antes de activar el servicio."
      }
    },
    "terms": "Enterate cuáles son todos los términos y condiciones para participar del programa de referidos. <a href='https://www.sesocio.com/articles/2021/07/23/terminos-y-condiciones-particulares'>Leer términos y condiciones</a>."
  },
  "es-AR": {
    "title": "¿Cómo participar?",
    "steps": {
      "step_1": {
        "title": "Qué es el pozo",
        "title_mobile": "Condiciones",
        "text": "Refiriendo podés ganar y además participar del LoteSocio. Por cada amigo que refieras a SeSocio y que tenga la documentación aprobada, más una carga de saldo (sin monto mínimo), te llevás 1 IUSD y se genera un ticket para el sorteo en el que ambos acumulan 5 IUSD al pozo general."
      },
      "step_2": {
        "title": "Cómo y cuándo se sortea",
        "title_mobile": "Cuándo se sortea",
        "text": "&#8226; Para acumular tickets, cada amigo referido deberá tener su documentación cargada y aprobada. También deberá realizar una carga de saldo (sin monto mínimo).<br/>&#8226; El sorteo se realizará el último día hábil de cada mes.<br/>&#8226; ¡Más tickets acumulas.más posibilidades tienes de ganar!"
      },
      "step_3": {
        "title": "Cómo canjeo el premio",
        "title_mobile": "Premio",
        "text": "El premio se acreditará automáticamente en tu cuenta a las 72 horas de realizado el sorteo y luego de responder unas breves preguntas."
      },
      "step_4": {
        "title": "Preguntas frecuentes",
        "title_mobile": "Términos y condiciones",
        "text": "<strong>¿Cómo funciona y participo del programa de Referidos?</strong><br/>Comienza a referir amigos, y por cada uno que abra su cuenta SeSocio, complete la documentación y cargue saldo (sin monto mínimo), ganarás 1 USD y se sumarán 5 USD al pozo acumulado del LoteSocio. Mensualmente se sortea el pozo entre todos los referidos de ese mes.<br/>Desde esta sección puedes invitar a tus amigos enviándoles un mensaje a través de las redes sociales o copiando el link. Ese link contendrá un código único que identificará que es tu referido, tiene una validez de 30 días.<br/>Si el plazo vence, no te preocupes podrás recordarle desde esta sección y se generará un nuevo código.<br/><br/><strong>¿Cuáles son las condiciones para participar?</strong><br/>Para que ambos puedan participar deben tener la documentación cargada y aprobada. Verificala en <a href='/user/documentation'>https://www.sesocio.com/user/documentation</a>.<br/>Tu referido debe ser una nueva cuenta, no participan amigos que ya son usuarios SeSocio.<br/><br/><strong>¿Cuántos amigos puedo referir?</strong><br/>Podrás referir a todos los amigos que quieras ¡Cuánto más refieres, más ganas!<br/><br/><strong>¿Qué es el LoteSocio y cómo participo?</strong><br/>El LoteSocio es el pozo acumulado mensual,por cada nuevo referido que complete la documentación y cargue saldo (sin monto mínimo), se suma al pozo acumulado IUSD5. Se les otorgará un ticket para participar.<br/>Si tu referido cumplió con las condiciones, ambos participarán del sorteo mensual que se realiza el último día hábil del mes.<br/><br/><strong>¿Dónde puedo ver mis referidos, tickets acumulados y sorteos?</strong><br/>En esta sección podrás ver el listado de todos tus amigos y si ya completaron la documentación y cargaron saldo. ¡Si no lo hicieron, podrás recordarles ahí mismo!<br/>Para saber si ya participaron o participarán del sorteo, fijáte en la columna “Fecha sorteo”. Si no hay fecha es porque aún tu referido no completó todos los pasos.<br/><br/><strong>¿Cómo canjeo el premio de Referidos?</strong><br/>Cuando tu referido realice el alta completa automáticamente se les asignará a su cuenta $1. Si fueron afortunados y ganaron el LoteSocio les realizaremos algunas preguntas y luego repartiremos y acreditaremos en sus cuentas el premio del pozo acumulado.<br/><br/><strong>Mi amigo dió de alta la cuenta y no utilizó el código.</strong><br/>¡Ups! Lamentablemente si tu amigo no utilizó tu código referido, esta dupla no podrá participar del programa de Referidos. La próxima vez que recomiendes a alguien, recuérdale que debe hacer clic en el enlace que le enviaste para obtener un código de recomendación antes de activar el servicio."
      }
    },
    "terms": "Enterate cuáles son todos los términos y condiciones para participar del programa de referidos. <a href='https://www.sesocio.com/articles/2021/07/23/terminos-y-condiciones-particulares'>Leer términos y condiciones</a>."
  },
  "en": {
    "title": "¿Cómo participar?",
    "steps": {
      "step_1": {
        "title": "Qué es el pozo",
        "title_mobile": "Condiciones",
        "text": "Refiriendo podés ganar y además participar del LoteSocio. Por cada amigo que refieras a SeSocio y que tenga la documentación aprobada, más una carga de saldo (sin monto mínimo), te llevás 1 IUSD y se genera un ticket para el sorteo en el que ambos acumulan 5 IUSD al pozo general."
      },
      "step_2": {
        "title": "Cómo y cuándo se sortea",
        "title_mobile": "Cuándo se sortea",
        "text": "&#8226; Para acumular tickets, cada amigo referido deberá tener su documentación cargada y aprobada. También deberá realizar una carga de saldo (sin monto mínimo).<br/>&#8226; El sorteo se realizará el último día hábil de cada mes.<br/>&#8226; ¡Más tickets acumulas.más posibilidades tienes de ganar!"
      },
      "step_3": {
        "title": "Cómo canjeo el premio",
        "title_mobile": "Premio",
        "text": "El premio se acreditará automáticamente en tu cuenta a las 72 horas de realizado el sorteo y luego de responder unas breves preguntas."
      },
      "step_4": {
        "title": "Preguntas frecuentes",
        "title_mobile": "Términos y condiciones",
        "text": "<strong>¿Cómo funciona y participo del programa de Referidos?</strong><br/>Comienza a referir amigos, y por cada uno que abra su cuenta SeSocio, complete la documentación y cargue saldo (sin monto mínimo), ganarás 1 USD y se sumarán 5 USD al pozo acumulado del LoteSocio. Mensualmente se sortea el pozo entre todos los referidos de ese mes.<br/>Desde esta sección puedes invitar a tus amigos enviándoles un mensaje a través de las redes sociales o copiando el link. Ese link contendrá un código único que identificará que es tu referido, tiene una validez de 30 días.<br/>Si el plazo vence, no te preocupes podrás recordarle desde esta sección y se generará un nuevo código.<br/><br/><strong>¿Cuáles son las condiciones para participar?</strong><br/>Para que ambos puedan participar deben tener la documentación cargada y aprobada. Verificala en <a href='/user/documentation'>https://www.sesocio.com/user/documentation</a>.<br/>Tu referido debe ser una nueva cuenta, no participan amigos que ya son usuarios SeSocio.<br/><br/><strong>¿Cuántos amigos puedo referir?</strong><br/>Podrás referir a todos los amigos que quieras ¡Cuánto más refieres, más ganas!<br/><br/><strong>¿Qué es el LoteSocio y cómo participo?</strong><br/>El LoteSocio es el pozo acumulado mensual,por cada nuevo referido que complete la documentación y cargue saldo (sin monto mínimo), se suma al pozo acumulado IUSD5. Se les otorgará un ticket para participar.<br/>Si tu referido cumplió con las condiciones, ambos participarán del sorteo mensual que se realiza el último día hábil del mes.<br/><br/><strong>¿Dónde puedo ver mis referidos, tickets acumulados y sorteos?</strong><br/>En esta sección podrás ver el listado de todos tus amigos y si ya completaron la documentación y cargaron saldo. ¡Si no lo hicieron, podrás recordarles ahí mismo!<br/>Para saber si ya participaron o participarán del sorteo, fijáte en la columna “Fecha sorteo”. Si no hay fecha es porque aún tu referido no completó todos los pasos.<br/><br/><strong>¿Cómo canjeo el premio de Referidos?</strong><br/>Cuando tu referido realice el alta completa automáticamente se les asignará a su cuenta $1. Si fueron afortunados y ganaron el LoteSocio les realizaremos algunas preguntas y luego repartiremos y acreditaremos en sus cuentas el premio del pozo acumulado.<br/><br/><strong>Mi amigo dió de alta la cuenta y no utilizó el código.</strong><br/>¡Ups! Lamentablemente si tu amigo no utilizó tu código referido, esta dupla no podrá participar del programa de Referidos. La próxima vez que recomiendes a alguien, recuérdale que debe hacer clic en el enlace que le enviaste para obtener un código de recomendación antes de activar el servicio."
      }
    },
    "terms": "Enterate cuáles son todos los términos y condiciones para participar del programa de referidos. <a href='https://www.sesocio.com/articles/2021/07/23/terminos-y-condiciones-particulares'>Leer términos y condiciones</a>."
  }
}
</i18n>

<template>
  <div class="conditions">
    <Wrapper
      marginInner="ma-0"
      layoutWidth="100%"
      containerWidth="100%"
    >
      <template
        slot="content"
      >
        <Wrapper
          mainContainerClass="bgTransparent"
        >
          <template
            slot="content"
          >
            <v-row
              class="fill-height"
            >
              <v-col
                cols="12"
                class="my-10 my-sm-14"
              >
                <h1
                  class="headline poppins font-weight-black black--text mb-6"
                >
                  {{ $t('title') }}
                </h1>

                <v-chip-group
                  column
                  mandatory
                  class="mb-8"
                >
                  <v-chip
                    link
                    class="rounded-pill mr-2"
                    v-for="n in steps"
                    :color="n-1 !== tab ? 'grey lighten-2' : 'lirio-secondary'"
                    :class="[
                      n-1 !== tab ? 'black--text' : 'white--text',
                      $vuetify.breakpoint.smAndDown ? 'caption-2 px-3 py-2' : 'subtitle-3 px-8 py-3'
                    ]"
                    :key="'chip' + n"
                    @click="tab = n-1"
                  >
                    {{ $t('steps.step_' + n + '.title' + ($vuetify.breakpoint.smAndDown ? '_mobile' : '')) }}
                  </v-chip>
                </v-chip-group>

                <v-tabs-items
                  mandatory
                  v-model="tab"
                  class="mb-2"
                >
                  <v-tab-item
                    v-for="n in steps"
                    :key="'tab-' + n"
                  >
                    <span
                      :class="$vuetify.breakpoint.smAndDown ? 'body-1' : 'subtitle-1'"
                      v-html="$t('steps.step_' + n + '.text')"
                    ></span>
                  </v-tab-item>
                </v-tabs-items>

                <div
                  class="mt-8"
                  :class="$vuetify.breakpoint.smAndDown ? 'body-1' : 'subtitle-1'"
                  v-html="$t('terms')"
                ></div>
              </v-col>
            </v-row>
          </template>
        </Wrapper>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  export default {
    data() {
      return {
        tab: 0,
        steps: 4
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-chip {
    border: none !important;
  }

  .v-window {
    background: transparent !important;
  }
</style>