<i18n>
{
  "es": {
    "jackpot": "LOTESOCIO",
    "accumulated": "pozo acumulado",
    "accumulated_mobile": "pozo",
    "winners": "Ganadores pozo",
    "date": "Sortea el",
    "tickets": {
      "desktop": "No tenés tickets para el sorteo | Tenés {count} ticket para el sorteo | Tenés {count} tickets para el sorteo",
      "mobile": "No tenés tickets | Tenés {count} ticket | Tenés {count} tickets"
    }
  },
  "en": {
    "jackpot": "LOTESOCIO",
    "accumulated": "pozo acumulado",
    "accumulated_mobile": "pozo",
    "winners": "Ganadores pozo",
    "date": "Sortea el",
    "tickets": {
      "desktop": "No tenés tickets para el sorteo | Tenés {count} ticket para el sorteo | Tenés {count} tickets para el sorteo",
      "mobile": "No tenés tickets | Tenés {count} ticket | Tenés {count} tickets"
    }
  }
}
</i18n>

<template>
  <div>
    <Wrapper
      v-if="showJackpot"
      marginInner="ma-0"
      layoutWidth="100%"
      containerWidth="100%"
      mainContainerClass="lirio-secondary"
    >
      <template
        slot="content"
      >
        <v-row
          no-gutters
        >
          <v-col
            :class="$vuetify.breakpoint.xs ? 'text-center pb-6 pt-7' : 'd-flex justify-center align-center'"
          >
            <template
              v-if="!$vuetify.breakpoint.xs"
            >
              <span
                class="jackpot poppins font-weight-bold white--text text-uppercase"
                :class="{'mobile': $vuetify.breakpoint.smAndDown}"
              >
                {{ $t('jackpot') }}
              </span>
              
              <img
                :class="$vuetify.breakpoint.smAndDown ? 'my-4 ml-2 mr-4' : 'mx-4 my-2'"
                :width="$vuetify.breakpoint.smAndDown ? 56 : 86"
                :src="require('../../../../assets/images/referral/jackpot.png')"
              />
            </template>

            <template
              v-if="showWinners"
            >
              <div
                :class="$vuetify.breakpoint.xs ? 'd-block' : 'd-flex align-center justify-start'"
              >
                <span
                  class="accumulated poppins font-weight-bold white--text text-uppercase"
                  :class="[
                    $vuetify.breakpoint.xs ? '' : 'mr-4',
                    $vuetify.breakpoint.smAndDown ? 'mobile d-block text-center' : ''
                  ]"
                >
                  {{ $t('winners') }} {{ month }}
                  <br
                    v-if="$vuetify.breakpoint.smAndDown"
                  />

                  <span
                    class="font-weight-regular"
                  >
                    {{ winners }}
                  </span>
                </span>
              </div>
            </template>

            <template
              v-else
            >
              <div
                :class="$vuetify.breakpoint.xs ? 'd-block' : 'd-flex align-center justify-start'"
              >
                <span
                  class="accumulated poppins font-weight-bold white--text text-uppercase"
                  :class="[
                    $vuetify.breakpoint.xs ? '' : 'mr-4',
                    $vuetify.breakpoint.smAndDown ? 'mobile d-block text-center' : ''
                  ]"
                >
                  {{ $t('accumulated' + ($vuetify.breakpoint.smAndDown ? '_mobile' : '')) }}
                  
                  <span
                    ref="countup"
                  >
                    {{ jackpot }}
                  </span>
                  
                  {{ jackpotCurrency }}
                </span>
              </div>

              <div
                :class="$vuetify.breakpoint.xs ? 'd-inline-block mt-n1' : 'border-left'"
              >
                <span
                  class="accumulated-date poppins white--text font-weight-regular"
                  :class="[
                    $vuetify.breakpoint.xs ? '' : 'ml-4',
                    $vuetify.breakpoint.smAndDown ? 'mobile text-center d-inline-block' : ''
                  ]"
                >
                  {{ $t('date') }} {{ jackpotDate | replace }}
                </span>
              </div>

              <div
                class="border-left ml-4"
                :class="$vuetify.breakpoint.xs ? 'd-inline-block' : 'text-center'"
              >
                <span
                  class="accumulated-tickets poppins white--text font-weight-regular ml-4"
                  :class="$vuetify.breakpoint.smAndDown ? 'mobile text-center d-inline-block' : ''"
                >
                  {{ $tc('tickets.' + device, jackpotTickets, { count: jackpotTickets }) }}
                </span>
              </div>
            </template>
          </v-col>
        </v-row>
      </template>
    </Wrapper> 
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';

  export default {
    data() {
      return {
        months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
        animationDuration: 2000,
        frameDuration: 1000 / 60,
        easeOutQuad: t => t * ( 2 - t )
      }
    },

    computed: {
      ...mapState('referral', [
        'jackpot',
        'jackpotDate',
        'jackpotCurrency',
        'jackpotTickets'
      ]),

      totalFrames() {
        return Math.round(this.animationDuration / this.frameDuration);
      },

      showJackpot() {
        return process.env.VUE_APP_COMMUNITY_REFERRAL_JACKPOT_MIN < this.jackpot;
      },

      device() {
        //return this.$vuetify.breakpoint.xs ? 'mobile' : 'desktop';
        return 'mobile';
      },

      month() {
        return this.months[parseInt(process.env.VUE_APP_COMMUNITY_REFERRAL_MONTH) - 1];
      },

      winners() {
        return process.env.VUE_APP_COMMUNITY_REFERRAL_WINNERS;
      },

      showWinners() {
        return process.env.VUE_APP_COMMUNITY_REFERRAL_SHOW_WINNERS === 'true';
      }
    },

    methods: {
      ...mapActions('referral', [
        'getJackpot'
      ]),

      animateCountUp(el) {
        let frame = 0;
        const countTo = parseInt(el.innerHTML, 10);
        const counter = setInterval(() => {
          frame++;
          const progress = this.easeOutQuad(frame / this.totalFrames);
          const currentCount = Math.round(countTo * progress);

          if(parseInt(el.innerHTML, 10) !== currentCount) {
            el.innerHTML = currentCount;
          }

          if(frame === this.totalFrames) {
            clearInterval(counter);
          }
        }, this.frameDuration);
      }
    },

    filters: {
      replace: (value) => {
        if(!value) return '';
        return value.replaceAll('/', '•');
      }
    },

    async mounted() {
      await this.getJackpot();
      this.animateCountUp(this.$refs.countup);
    }
  }
</script>

<style lang="scss" scoped>
  .col {
    min-width: 72px;
  }

  .jackpot {
    font-size: 29px;

    &.mobile {
      font-size: 24px;
    }
  }

  .accumulated {
    font-size: 20px;

    &.mobile {
      font-size: 16px;
      line-height: 14px;
      color: var(--dianthus-primary) !important;
    }
  }
  
  .accumulated-date,
  .accumulated-tickets {
    font-size: 18px;

    &.mobile {
      font-size: 14px;
      line-height: 14px;
    }
  }

  .border-left {
    position: relative;

    &::after {
      content: '';
      border-left: 2px solid white;
      top: 20%;
      left: -1px;
      position: absolute;
      width: 100%;
      height: 60%;
    }
  }
</style>