<i18n>
{
  "es": {
    "reminder_button": "Recordar",
    "reminder_title": "<strong>¿Tu referido es un colgad@?</strong><br/>Mandale un mensaje",
    "reminder_text": "¡No te duermas y participá del sorteo! @{name} está esperando que cargues la documentación que falta. Apurate e ingresá a www.sesocio.com.ar",
    "whatsapp": "WhatsApp",
    "telegram": "Telegram",
    "message-processing": "SMS",
    "sms": {
      "title": "Le vas a enviar un SMS a @{username}",
      "text": "Es para recordarle que cargue el saldo y complete la documentación para participar del sorteo mensual de referidos.",
      "text_mobile": "Es para recordarle que cargue el saldo y complete la documentación para participar del sorteo.",
      "cancel": "Cancelar",
      "confirm": "Confirmar",
      "success": "SMS enviado con éxito.",
      "error": "Hubo un problema al enviar el SMS. Volvé a intentarlo."
    }
  },
  "en": {
    "reminder_button": "Recordar",
    "reminder_title": "<strong>¿Tu referido es un colgad@?</strong><br/>Mandale un mensaje",
    "reminder_text": "¡No te duermas y participá del sorteo! @{name} está esperando que cargues la documentación que falta. Apurate e ingresá a www.sesocio.com.ar",
    "whatsapp": "WhatsApp",
    "telegram": "Telegram",
    "message-processing": "SMS",
    "sms": {
      "title": "Le vas a enviar un SMS a @{username}",
      "text": "Es para recordarle que cargue el saldo y complete la documentación para participar del sorteo mensual de referidos.",
      "text_mobile": "Es para recordarle que cargue el saldo y complete la documentación para participar del sorteo.",
      "cancel": "Cancelar",
      "confirm": "Confirmar",
      "success": "SMS enviado con éxito.",
      "error": "Hubo un problema al enviar el SMS. Volvé a intentarlo."
    }
  }
}
</i18n>

<template>
  <div>
    <v-menu
      v-model="menu"
      :nudge-right="-10"
      :close-on-content-click="false"
      left
      offset-x
      content-class="rounded-lg custom-shadow"
    >
      <template v-slot:activator="{ on, attrs }">
        <v-btn
          color="primary"
          class="elevation-0"
          :text="text"
          :width="small ? 70 : 140"
          :x-small="small"
          :disabled="(user.document_approved && user.has_deposits) || user.expired === true"
          v-bind="attrs"
          v-on="on"
        >
          {{ $t('reminder_button') }}
        </v-btn>
      </template>

      <v-card
        class="pa-2"
      >
        <v-card-text>
          <div
            class="poppins black--text mb-2"
            :class="$vuetify.breakpoint.xs ? 'body-1' : 'subtitle-1'"
            v-html="$t('reminder_title')"
          ></div>
          <div
            class="custom-reminder-box d-inline-block text-center"
            v-for="(item, i) in methods"
            v-if="item !== 'message-processing' || (item === 'message-processing' && user.valid_phone)"
          >
            <v-btn
              fab
              small
              color="primary"
              @click="reminder(item)"
            >
              <v-icon>
                mdi-{{ item }}
              </v-icon>
            </v-btn>
            <br/>
            <span
              class="caption-2"
            >
              {{ $t(item) }}
            </span>
          </div>
        </v-card-text>
      </v-card>
    </v-menu>

    <v-dialog
      v-model="dialog"
      width="500"
    >
      <v-card>
        <v-card-text
          class="text-center pt-12 pb-6 "
          :class="$vuetify.breakpoint.xs ? 'px-6' : 'px-8'"
        >
          <div
            class="close-button"
          >
            <v-btn
              icon
              @click="dialog = false"
            >
              <v-icon>mdi-close</v-icon>
            </v-btn>
          </div>

          <span
            class="d-block black--text title-2 mb-4"
          >
            {{ $t('sms.title', {username: user.alias}) }}
          </span>
          <span
            class="d-block black--text subtitle-1"
          >
            {{ $t($vuetify.breakpoint.xs ? 'sms.text_mobile' : 'sms.text') }}
          </span>
        </v-card-text>

        <v-card-actions
          class="justify-center px-4"
          :class="$vuetify.breakpoint.xs ? 'flex-column-reverse pb-4' : 'pb-8'"
        >
          <v-btn
            outlined
            width="200"
            color="primary"
            :block="$vuetify.breakpoint.xs"
            @click="dialog = false"
          >
            {{ $t('sms.cancel') }}
          </v-btn>

          <v-btn
            width="200"
            color="primary"
            elevation="0"
            :block="$vuetify.breakpoint.xs"
            :class="$vuetify.breakpoint.xs ? 'ma-0 mb-2' : ''"
            @click="confirmSMS()"
          >
            {{ $t('sms.confirm') }}
          </v-btn>
        </v-card-actions>
      </v-card>
    </v-dialog>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { getShareLink } from '../../../../helpers';

  export default {
    props: {
      user: {
        required: true
      },
      small: {
        default: false
      },
      text: {
        default: false
      }
    },

    data() {
      return {
        menu: false,
        dialog: false,
        methods: [
          'whatsapp',
          'telegram',
          'message-processing'
        ]
      }
    },

    computed: {
      ...mapState('user', [
        'current'
      ])
    },

    methods: {
      getShareLink,

      ...mapActions('snackbar', [
        'showSnackbar'
      ]),

      ...mapActions('referral', [
        'sendSMS'
      ]),

      confirmSMS() {
        this.dialog = false;
        this.sendSMS(this.user.alias).then(() => {
          this.showSnackbar({
            type: 'success',
            message: this.$t('sms.success')
          });
        }).catch(() => {
          this.showSnackbar({
            message: this.$t('sms.error')
          });
        })
      },

      reminder(method) {
        let url = null;

        if('message-processing' === method) {
          this.menu = false;
          this.dialog = true;
          return;
        }

        if('whatsapp' === method && this.$vuetify.breakpoint.xs) {
          method += '-mobile';
        }

        if('telegram' === method) {
          url = `${process.env.VUE_APP_BASE_URL}referidos`;
        }

        open(this.getShareLink(method, url, this.$t('reminder_text', {name: this.current.alias})), '_blank');
      }
    }
  }
</script>

<style lang="scss" scoped>
  .custom-shadow {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  }

  .custom-reminder-box {
    width: 78px;
  }

  .subtitle-1 {
    line-height: 22px !important;
  }

  .caption-2 {
    font-size: 10px !important;
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
</style>