<i18n>
{
  "es": {
    "title": "Refiere amigos a través de los siguientes canales",
    "title_mobile": "Invita a un amigo",
    "share_text": "Súmate a SeSocio, Invierte y Gana",
    "copy": "Copiar enlace",
    "copy_success": "El enlace fue copiado con éxito."
  },
  "es-AR": {
    "title": "Referí amigos a través de los siguientes canales",
    "title_mobile": "Invitá a un amigo",
    "share_text": "Sumate a SeSocio, Invertí y Ganá",
    "copy": "Copiar enlace",
    "copy_success": "El enlace fue copiado con éxito."
  },
  "en": {
    "title": "Referí amigos a través de los siguientes canales",
    "title_mobile": "Invitá a un amigo",
    "share_text": "Sumate a SeSocio, Invertí y Ganá",
    "copy": "Copiar enlace",
    "copy_success": "El enlace fue copiado con éxito."
  }
}
</i18n>

<template>
  <div>
    <v-row
      class="fill-height"
    >
      <v-col
        cols="12"
        class="d-flex justify-left align-center custom-height mb-0"
        :class="$vuetify.breakpoint.smAndDown ? 'pl-6' : 'mt-16'"
      >
        <img
          :src="require('../../../../assets/images/referral/icon-refer.svg')"
          :width="$vuetify.breakpoint.smAndDown ? 33 : 44"
          :height="$vuetify.breakpoint.smAndDown ? 26 : 44"
        />
        <h1
          :class="$vuetify.breakpoint.smAndDown ? 'headline ml-2' : 'headline ml-4'"
        >
          {{ $t('title_mobile') }}
        </h1>
      </v-col>

      <v-col
        cols="12"
        class="d-flex justify-left align-center "
        :class="$vuetify.breakpoint.smAndDown ? 'mb-11 pt-0' : 'mb-16'"
      >
        <v-card
          width="100%"
          rounded="lg"
          class="custom-shadow"
          :class="$vuetify.breakpoint.xs ? '' : 'fix-height'"
        >
          <v-card-text
            :class="$vuetify.breakpoint.xs ? '' : 'px-6 py-4'"
          >
            <div
              v-if="!$vuetify.breakpoint.xs"
              class="subtitle-3 black--text mb-3"
            >
              {{ $t('title') }}
            </div>

            <v-row
              :no-gutters="!$vuetify.breakpoint.smAndDown"
            >
              <v-col
                cols="12"
                sm="7"
              >
                <v-row
                  no-gutters
                >
                  <v-col
                    cols="3"
                    v-for="(item, i) in methods"
                    :key="i"
                  >
                    <v-btn
                      fab
                      small
                      color="primary"
                      class="d-block mx-auto"
                      elevation="3"
                      @click="refer(item)"
                    >
                      <v-icon
                        size="20"
                      >
                        mdi-{{ item }}
                      </v-icon>
                    </v-btn>
                  </v-col>
                </v-row>
              </v-col>

              <v-col
                cols="12"
                sm="5"
                class="d-flex align-center"
                :class="$vuetify.breakpoint.xs ? 'border-top mt-2 pb-2 pt-1 pl-2 justify-start' : 'justify-end mt-n4 ml-n4'"
              >
                <span
                  class="copy-link mt-3 mr-3"
                  @click="copyLink()"
                >
                  <img
                    :src="require('../../../../assets/images/referral/icon-copy.svg')"
                    width="53"
                    height="53"
                  />
                </span>

                <span
                  class="black--text"
                  :height="$vuetify.breakpoint.xs ? 'subtitle-1' : 'subtitle-3'"
                >
                  {{ $t('copy') }}
                </span>
              </v-col>
            </v-row>
          </v-card-text>
        </v-card>
      </v-col>
    </v-row>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import { getShareLink } from '../../../../helpers';

  export default {
    data() {
      return {
        methods: [
          'whatsapp',
          'telegram',
          'facebook',
          'twitter',
          //'linkedin'
        ]
      }
    },

    computed: {
      ...mapState('referral', [
        'current'
      ]),

      ...mapState('referral', [
        'code'
      ]),

      linkReferral() {
        return `${process.env.VUE_APP_BASE_URL}referidos?c=${this.code}`;
      },
    },

    methods: {
      getShareLink,

      ...mapActions('snackbar', [
        'showSnackbar'
      ]),

      ...mapActions('referral', [
        'getRefererCode'
      ]),

      getReferralLink(source) {
        return this.linkReferral + '&s=' + source;
      },

      refer(method) {
        let w = ['facebook', 'linkedin', 'twitter'].includes(method) ? 
          'left=20,top=20,width=500,height=500,toolbar=1,resizable=0' : null;
        
        if('whatsapp' === method && this.$vuetify.breakpoint.xs) {
          method += '-mobile';
        }

        this.$gtm.trackEvent({
          event: 'shareEvent',
          category: 'Referrals',
          action: 'Share',
          label: method,
          noninteraction: false
        });

        open(this.getShareLink(method, this.linkReferral, this.$t('share_text')), '_blank', w);
      },

      copyLink() {
        this.$clipboard(this.linkReferral);
        this.showSnackbar({
          type: 'success',
          message: this.$t('copy_success')
        });
      }
    },
    
    mounted() {
      this.getRefererCode();
    }
  }
</script>

<style lang="scss" scoped>
  .custom-height {
    height: 60px;
  }

  .custom-shadow {
    box-shadow: 2px 2px 6px 0 rgba(0, 0, 0, 0.16) !important;
  }

  .custom-col {
    flex: 0 0 20% !important;
    max-width: 20% !important;
  }

  .border-top {
    border-top: 1px solid #bdbdbd !important;
  }

  .copy-link {
    cursor: pointer;
  }

  .v-card {
    &.fix-height {
      height: 120px;
    }
  }
</style>