<i18n>
{
  "es": {
    "title": "Tus referidos"
  },
  "es-AR": {
    "title": "Tus referidos"
  },
  "en": {
    "title": "Tus referidos"
  }
}
</i18n>

<template>
  <div>
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          class="fill-height"
        >
          <v-col
            cols="12"
            :class="$vuetify.breakpoint.smAndDown ? 'pl-6 mb-2' : ''"
          >
            <div
              class="d-flex justify-left align-center"
              :class="$vuetify.breakpoint.smAndDown ? 'mb-4' : 'mb-6'"
            >
              <img
                :src="require('../../../../assets/images/referral/icon-referrals.svg')"
                :width="$vuetify.breakpoint.smAndDown ? 32 : 42"
                :height="$vuetify.breakpoint.smAndDown ? 32 : 42"
              />
              <h1
                :class="$vuetify.breakpoint.smAndDown ? 'headline ml-2' : 'headline ml-4'"
              >
                {{ $t('title') }}
              </h1>
            </div>
          </v-col>
        </v-row>
      </template>
    </Wrapper>

    <template
      v-if="referralsLoaded"
    >
      <div
        v-if="count > 0"
      >    
        <Wrapper
          marginInner="ma-0"
          layoutWidth="100%"
          containerWidth="100%"
          mainContainerClass="bgWhite"
        >
          <template
            slot="content"
          >
            <Wrapper
              mainContainerClass="bgTransparent"
            >
              <template
                slot="content"
              >
                <v-row
                  class="fill-height"
                >
                  <v-col
                    cols="12"
                    :class="$vuetify.breakpoint.smAndDown ? 'mb-0' : 'mt-12 mb-12'"
                  >
                    <template v-if="$vuetify.breakpoint.smAndDown">
                      <referrals-list
                        :referrals="referralsFiltered"
                      />
                    </template>

                    <template v-else>
                      <referrals-table
                        :headers="headers"
                        :referrals="referralsFiltered"
                      />
                    </template>
                  </v-col>
                </v-row>
              </template>
            </Wrapper>
          </template>
        </Wrapper>
      </div>

      <div
        v-else
      >
        <Wrapper>
          <template
            slot="content"
          >
            <v-row
              class="fill-height"
            >
              <v-col
                class="pt-6"
              >
                <referrals-empty></referrals-empty>
              </v-col>
            </v-row>
          </template>
        </Wrapper>
      </div>
    </template>

    <template
      v-else
    >
      <Wrapper>
        <template
          slot="content"
        >
          <v-row
            class="fill-height"
          >
            <v-col>
              <div
                class="loader-container d-flex justify-center align-center"
              > 
                <v-progress-circular
                  :size="32"
                  color="primary"
                  indeterminate
                ></v-progress-circular>
              </div>
            </v-col>
          </v-row>
        </template>
      </Wrapper>
    </template>
  </div>
</template>

<script>
  import { mapState, mapActions } from 'vuex';
  import ReferralsTable from './ReferralsTable';
  import ReferralsList from './ReferralsList';
  import ReferralsEmpty from './ReferralsEmpty';

  export default {
    components: {
      ReferralsTable,
      ReferralsList,
      ReferralsEmpty,
    },

    data() {
      return {
        page: 1,
        itemsPerPage: 100,
        headers: [
          { text: 'referral', value: 'name', cols: 2 },
          { text: 'documentation', value: 'documentation', cols: 2 },
          { text: 'deposit', value: 'deposit', cols: 2 },
          { text: 'raffle', value: 'raffle', cols: 2 },
          { text: 'ticket', value: 'ticket', cols: 2 },
          { text: 'reminder', value: 'reminder', cols: 2 },
        ]
      }
    },

    computed: {
      ...mapState('referral', [
        'referrals',
        'referralsLoaded',
        'currentPage',
        'count'
      ]),

      pageSize() {
        return process.env.VUE_APP_COMMUNITY_REFERRAL_LIMIT;
      },

      referralsFiltered() {
        return this.referrals.slice((this.currentPage - 1) * this.pageSize, this.currentPage * this.pageSize);
      }
    },

    methods: {
      ...mapActions('referral', [
        'getUserReferrals',
        'clearReferrals'
      ])
    },

    mounted() {
      this.getUserReferrals();
    },

    beforeDestroy() {
      this.clearReferrals();
    }
  }
</script>

<style lang="scss" scoped>
  .loader-container {
    min-height: 80px;
  }
</style>