<i18n>
{
  "es": {
    "empty": {
      "title": "¡Todavía no tienes referidos!",
      "text": "Comienza a referir y participa del pozo mensual. Por cada persona que refieras, ambos aportan 5 IUSD y participan por el LOTESOCIO."
    }
  },
  "es-AR": {
    "empty": {
      "title": "¡Todavía no tenés referidos!",
      "text": "Empezá a referir y participá del pozo mensual. Por cada persona que refieras, ambos aportan 5 IUSD y participan por el LOTESOCIO."
    }
  },
  "en": {
    "empty": {
      "title": "¡Todavía no tienes referidos!",
      "text": "Comienza a referir y participa del pozo mensual. Por cada persona que refieras, ambos aportan 5 IUSD y participan por el LOTESOCIO."
    }
  }
}
</i18n>

<template>
  <v-card
    class="empty elevation-0 rounded-lg mb-md-2 mt-n5 mt-md-n3"
  >
    <v-card-text
      class="pa-0 white--text"
      :class="{'fixed': !$vuetify.breakpoint.xs}"
    >
      <div
        :class="$vuetify.breakpoint.xs ? '' : 'd-flex align-center flex-no-wrap'"
      >
        <div
          class="empty-text px-6 pl-md-10 pt-6 pt-sm-0"
        >
          <span
            class="d-block empty-title poppins font-weight-bold mb-2"
            v-html="$t('empty.title')"
          ></span>

          <span
            class="d-block empty-text subtitle-3"
            :class="$vuetify.breakpoint.xs ? 'caption-2' : 'subtitle-3'"
            v-html="$t('empty.text')"
          ></span>
        </div>

        <v-spacer></v-spacer>
        
        <div
          class="empty-image"
          :class="$vuetify.breakpoint.xs ? 'text-center' : ''"
        >
          <img
            class="mt-n8 mt-sm-n12 mr-md-16"
            :width="$vuetify.breakpoint.xs ? 210 : 'auto'"
            :height="$vuetify.breakpoint.xs ? 210 : 'auto'"
            :src="require('../../../../assets/images/referral/empty-shapes.png')"
          />
        </div>
      </div>
    </v-card-text>
  </v-card>
</template>

<style lang="scss" scoped>
  .empty {
    width: 100%;
    overflow: hidden;
    background-image: linear-gradient(100deg, #6400b4, #c287d1 51%, #ac94cd 100%);

    .v-card__text {
      &.fixed {
        max-height: 195px;

        .empty-text {
          .empty-title {
            font-size: 28px !important;
            line-height: 32px;
          }

          .empty-text {
            line-height: 20px;
          }
        }

        .empty-image {
          max-height: 195px;
        }
      }
    }

    .v-card__text {
      .empty-text {
        max-width: 550px;

        .empty-title {
          font-size: 20px !important;
          line-height: 24px;
        }

        .empty-text {
          line-height: 16px;
        }
      }

      .empty-image {
        max-height: 150px;
      }
    }
  }
</style>