<i18n>
{
  "es": {
    "reminder_button": "Recordar",
    "complete": "Documentación completa",
    "incomplete": "Documentación incompleta",
    "lottery": "Sorteado",
    "ticket": "Ticket",
    "has_deposits": "Cargó saldo",
    "has_no_deposits": "No cargó saldo",
    "pending": "pendiente"
  },
  "en": {
    "reminder_button": "Recordar",
    "complete": "Documentación completa",
    "incomplete": "Documentación incompleta",
    "lottery": "Sorteado",
    "ticket": "Ticket",
    "has_deposits": "Cargó saldo",
    "has_no_deposits": "No cargó saldo",
    "pending": "pendiente"
  }
}
</i18n>

<template>
  <div>
    <v-list 
      two-line
    >
      <template
        v-for="(user, index) in referrals"
      >
        <v-list-item>
          <v-list-item-avatar>
            <v-img :src="user.photo"></v-img>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title
              class="body-1 font-weight-bold"
              v-html="user.alias"
            ></v-list-item-title>
          </v-list-item-content>

          <v-list-item-action>
            <referrals-reminder :small="true" :user="user" />
          </v-list-item-action>
        </v-list-item>
        
        <div
          class="caption-2 grey--text mt-n2 mb-2 ml-4 pr-8"
        >
          <span
            class="d-inline-block mr-1"
          >
            {{ user.document_approved ? $t('complete') : $t('incomplete') }}.
          </span> 
          <span
            class="d-inline-block mr-1"
          >
            {{ user.has_deposits ? $t('has_deposits') : $t('has_no_deposits') }}.
          </span> 
          <span
            class="d-inline-block mr-1"
          >
            {{ $t('lottery') }} {{ user.date_lottery }}.
          </span> 
          <span
            class="d-inline-block mr-1"
          >
            {{ $t('ticket') }} {{ user.ticket === 'pending' ? $t('pending') : user.ticket }}.
          </span>
        </div>

        <v-divider
          v-if="index !== referrals.length - 1 "
          class="ml-n4"
        ></v-divider>
      </template>
    </v-list>

    <template
      v-if="totalPages >= 1"
    >
      <referrals-pagination />
    </template>

    <template
      v-else
    >
      <div
        class="custom-table-bottom rounded-b-lg"
      />
    </template>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import ReferralsPagination from './ReferralsPagination';
  import ReferralsReminder from './ReferralsReminder';

  export default {
    components: {
      ReferralsPagination,
      ReferralsReminder
    },

    props: {
      referrals: {
        required: true
      }
    },

    computed: {
      ...mapState('referral', [
        'totalPages'
      ])
    }
  }
</script>