<i18n>
{
  "es": {
    "referral": "Referido",
    "documentation": "Documentación",
    "deposit": "¿Cargó saldo?",
    "raffle": "Fecha de sorteo",
    "ticket": "N° de Ticket",
    "reminder": "Recordatorio",
    "reminder_button": "Recordar",
    "complete": "Completa",
    "incomplete": "Incompleta",
    "yes": "Sí",
    "no": "No",
    "pending": "Pendiente"
  },
  "en": {
    "referral": "Referido",
    "documentation": "Documentación",
    "deposit": "¿Cargó saldo?",
    "raffle": "Fecha de sorteo",
    "ticket": "N° de Ticket",
    "reminder": "Recordatorio",
    "reminder_button": "Recordar",
    "complete": "Completa",
    "incomplete": "Incompleta",
    "yes": "Sí",
    "no": "No",
    "pending": "Pendiente"
  }
}
</i18n>

<template>
  <div>
    <v-row
      no-gutters
      class="custom-header py-3 mb-3 rounded-lg"
    >
      <v-col
        v-for="(header, index) in headers"
        :cols="header.cols"
        :key="'header-' + index"
        class="text-center"
      >
        <span
          class="subtitle-3 font-weight-bold black--text"
        >
          {{ $t(header.text) }}
        </span>
      </v-col>
    </v-row>

    <div
      class="custom-table-top rounded-t-lg"
    />

    <v-row
      no-gutters
      align="center"
      v-for="(user, index) in referrals"
      class="custom-row py-3"
      :class="{'custom-row-border': (index !== 0)}"
      :key="'user-' + index"
    >
      <v-col
        cols="2"
        class="d-flex align-center caption pl-6"
      >
        <v-avatar
          size="30"
          class="mr-2 mt-n1"
        >
          <img :src="user.photo" />
        </v-avatar>
        <span
          class="d-inline-block text-truncate"
          :class="{'grey--text': user.expired === true}"
          style="max-width: 120px;"
        >
          {{ user.alias }}
        </span>
      </v-col>

      <v-col
        cols="2"
        class="caption font-weight-regular text-center"
        :class="{'grey--text': user.expired === true}"
      >
        {{ user.document_approved ? $t('complete') : $t('incomplete') }}
      </v-col>

      <v-col
        cols="2"
        class="caption font-weight-regular text-center"
        :class="{'grey--text': user.expired === true}"
      >
        {{ user.has_deposits ? $t('yes') : $t('no') }}
      </v-col>

      <v-col
        cols="2"
        class="caption font-weight-regular text-center"
        :class="{'grey--text': user.expired === true}"
      >
        {{ user.date_lottery }}
      </v-col>

      <v-col
        cols="2"
        class="caption font-weight-regular text-center"
        :class="{'grey--text': user.expired === true}"
      >
        {{ user.ticket === 'pending' ? $t('pending') : user.ticket }}
      </v-col>

      <v-col
        cols="2"
        class="text-center"
      >
        <referrals-reminder text :user="user" />
      </v-col>
    </v-row>

    <template
      v-if="totalPages >= 1"
    >
      <referrals-pagination />
    </template>

    <template
      v-else
    >
      <div
        class="custom-table-bottom rounded-b-lg"
      />
    </template>
  </div>
</template>

<script>
  import { mapState } from 'vuex';
  import ReferralsPagination from './ReferralsPagination';
  import ReferralsReminder from './ReferralsReminder';

  export default {
    components: {
      ReferralsPagination,
      ReferralsReminder
    },

    props: {
      referrals: {
        required: true
      },
      headers: {
        required: true
      }
    },
    
    computed: {
      ...mapState('referral', [
        'totalPages'
      ])
    }
  }
</script>

<style lang="scss" scoped>
  .custom-header,
  .custom-row,
  .custom-table-top,
  .custom-table-bottom {
    background-color: #f5f5f5 !important;
  }

  .custom-header {
    span {
      white-space: nowrap;
    }
  }

  .custom-table-top,
  .custom-table-bottom {
    width: 100%;
    height: 15px;
  }

  .custom-row-border {
    border-top: 1px solid #d9d9d9;
  }
</style>