<template>
	<v-row
    no-gutters
    align="end"
    justify="end"
    class="py-4"
    :class="$vuetify.breakpoint.smAndDown ? 'ml-8' : 'custom-pagination rounded-b-lg'"
  >
    <v-col
      cols="12"
      class="title-3 font-weight-regular text-center pr-8"
    >
      <v-pagination
        color="primary"
        page-aria-label=""
        next-aria-label=""
        previous-aria-label=""
        wrapper-aria-label=""
        current-page-aria-label=""
        total-visible="4"
        :value="currentPage"
        :length="totalPages"
        @input="input"
      ></v-pagination>
    </v-col>
  </v-row>
</template>

<script>
  import { mapState, mapActions } from "vuex";

  export default {
    computed: {
      ...mapState('referral', [
        'currentPage',
        'totalPages'
      ])
    },

    methods: {
      ...mapActions('referral', [
        'getPage'
      ]),

      input(value) {
        console.log('input', value);
        if(value !== this.currentPage) {
          this.getPage(value);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  .custom-pagination {
    background-color: #f5f5f5 !important;
  }
</style>