<i18n>
{
  "es": {
    "title": "Comentá y sumá más puntos",
    "link": "Ir al artículo"
  }
}
</i18n>

<template>
  <v-card
    class="rounded-lg"
  >
    <v-card-title
      class="grey lighten-2 font-weight-bold"
      :class="$vuetify.breakpoint.xs ? 'subtitle-2' : 'title-3'"
    >
      {{ $t('title') }}
    </v-card-title>

    <v-card-text
      class="pa-4"
    >
      <template
        v-if="articles.length > 0"
      >
        <v-carousel 
          height="125"
          hide-delimiters
          show-arrows
          :continuous="false"
        >
          <v-carousel-item
            v-for="(article, index) in articles.slice(0,5)"
            :key="index"
          >
            <div
              class="d-flex align-center"
            >
              <template
                v-if="!$vuetify.breakpoint.smAndDown"
              >
                <v-img
                  :src="getImg(article)"
                  width="125"
                  max-width="125"
                  height="125"
                  max-height="125"
                  class="rounded-lg mr-6"
                ></v-img>
              </template>

              <div>
                <span
                  class="d-block mb-2"
                  :class="$vuetify.breakpoint.xs ? 'title-3' : 'caption'"
                >
                  {{ article.article_title }}
                </span>

                <span
                  class="d-block font-weight-regular mb-4"
                  :class="$vuetify.breakpoint.xs ? 'caption-2' : 'body-1'"
                >
                  {{ article.article_summary }}
                </span>

                <a
                  class="body-1 font-weight-bold"
                  :href="getUrl(article)"
                >
                  {{ $t('link') }}
                </a>
              </div>
            </div>
          </v-carousel-item>
        </v-carousel>
      </template>

      <template
        v-else
      >
        <div
          class="loader-container d-flex justify-center align-center"
        >
          <v-progress-circular
            :size="32"
            color="primary"
            class="mx-auto"
            indeterminate
          ></v-progress-circular>
        </div>
      </template>
    </v-card-text>
  </v-card>
</template>

<script>
  export default {
    props: {
      articles: {
        required: true
      }
    },

    methods: {
      getUrl(article) {
        let date = this.$moment(article.created_at).format("YYYY/MM/DD");    
        return `/articles/${date}/${article.article_title_id}`;
      },

      getImg(item) {
        return JSON.parse(item.photo_url).medium || JSON.parse(item.project_logo_url).small;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-card {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16) !important;
  }

  .loader-container {
    min-height: 125px;
  }
</style>