<template>
  <v-card
    class="elevation-0 rounded-lg"
  >
    <img
      :src="require('../../../assets/images/ranking/banner.jpg')"
    />
  </v-card>
</template>

<style lang="scss" scoped>
  img {
    width: 100%;
  }
</style>