<i18n>
{
  "es": {
    "title": "¿Cómo participar?",
    "steps": {
      "step_1": {
        "title": "Sumar Puntos",
        "title_mobile": "Sumar Puntos"
      },
      "step_2": {
        "title": "Categorías del Ranking",
        "title_mobile": "Categorías del Ranking"
      }
    }
  },
  "es-AR": {
    "title": "¿Cómo participar?",
    "steps": {
      "step_1": {
        "title": "Sumar Puntos",
        "title_mobile": "Sumar Puntos"
      },
      "step_2": {
        "title": "Categorías del Ranking",
        "title_mobile": "Categorías del Ranking"
      }
    },
    "points": {
      "point_1": "Comenta cualquier artículo. Podés hacerlo en el foro de cualquier negocio y en la página de novedades.",
      "point_2": "Suma Likes. Por cada &quot;like&quot; que reciba tu comentario, estarás sumando puntos para el Ranking. Atención: Si tus comentarios reciben algún &quot;Dislike&quot; o es reportado, se te restarán puntos del ranking.",
      "point_3": "¡Comienza a participar!"
    },
    "categories": {
      "whale": {
        "label": "Ballena | Maestro",
        "description": "Quién haya alcanzado este nivel es un referente, es la persona que más conocimientos puede aportar a la comunidad."
      },
      "shark": {
        "label": "Tiburón | Experto",
        "description": "Este es un jugador avanzado y que está a un solo paso de convertirse en un maestro."
      },
      "swordfish": {
        "label": "Pez Espada | Principiante",
        "description": "Empieza a conocer y dominar el tema, es tiempo de empezar a dejar aportes a la comunidad."
      },
      "silverside": {
        "label": "Pejerrey | Aprendiz",
        "description": "Para mejorar hay que seguir aprendiendo y en S-Cool está toda la información necesaria para subir de nivel."
      },
      "mojarra": {
        "label": "Mojarra | Novato",
        "description": "El mundo de las finanzas parece muy complejo pero ya estás dando los primeros pasos para dominarlo."
      }
    }
  }
}
</i18n>

<template>
  <v-row
    class="fill-height"
  >
    <v-col
      cols="12"
      class="mt-8 mt-sm-16 mb-6 mb-sm-10"
    >
      <h1
        class="headline poppins font-weight-black black--text mb-6"
      >
        {{ $t('title') }}
      </h1>

      <v-chip-group
        column
        mandatory
        class="mb-8"
      >
        <v-chip
          link
          class="rounded-pill mr-2"
          v-for="n in steps"
          :color="n-1 !== tab ? 'grey lighten-2' : 'lirio-secondary'"
          :class="[
            n-1 !== tab ? 'black--text' : 'white--text',
            $vuetify.breakpoint.smAndDown ? 'caption-2 px-3 py-2' : 'subtitle-3 px-8 py-3'
          ]"
          :key="'chip' + n"
          @click="tab = n-1"
        >
          {{ $t('steps.step_' + n + '.title' + ($vuetify.breakpoint.smAndDown ? '_mobile' : '')) }}
        </v-chip>
      </v-chip-group>

      <v-tabs-items
        mandatory
        v-model="tab"
        class="mb-4 mb-sm-12"
      >
        <v-tab-item>
          <template
            v-for="(point, index) in 3"
          >
            <div
              class="d-flex mb-4"
              :class="$vuetify.breakpoint.xs ? 'align-start' : 'align-center'"
              :key="'point-' + index"
            >
              <v-avatar
                :size="$vuetify.breakpoint.xs ? 40 : 56"
                class="mr-4"
                color="grey lighten-1"
              >
                <span
                  class="lirio-secondary--text font-weight-bold"
                  :class="$vuetify.breakpoint.xs ? 'title-2' : 'title'"
                >
                  {{ point }}
                </span>
              </v-avatar>

              <div
                class="category-description"
              >
                <span
                  class="d-block font-weight-regular"
                  :class="$vuetify.breakpoint.xs ? 'body-1 mt-2' : 'subtitle-1'"
                  v-html="$t('points.point_' + point)"
                ></span>
              </div>
            </div>
          </template>
        </v-tab-item>

        <v-tab-item>
          <template
            v-for="(category, index) in categories"
          >
            <div
              class="d-flex mb-4"
              :class="$vuetify.breakpoint.xs ? 'align-start' : 'align-center'"
              :key="'category-' + index"
            >
              <v-avatar
                :size="$vuetify.breakpoint.xs ? 40 : 56"
                class="mr-4"
                :color="category.color"
              >
                <img
                  :src="require('../../../assets/images/ranking/categories/' + category.name + '.svg')"
                  :class="{'mobile': $vuetify.breakpoint.xs}"
                  class="category-avatar"
                />
              </v-avatar>

              <div
                class="category-description"
              >
                <span
                  class="d-block font-weight-bold"
                  :class="$vuetify.breakpoint.xs ? 'body-1 mt-2' : 'subtitle-1'"
                >
                  {{ $t('categories.' + category.name + '.label') }}
                </span>

                <span
                  class="title font-weight-regular"
                  :class="$vuetify.breakpoint.xs ? 'body-1' : 'subtitle-1'"
                >
                  {{ $t('categories.' + category.name + '.description') }}
                </span>
              </div>
            </div>
          </template>
        </v-tab-item>
      </v-tabs-items>
    </v-col>
  </v-row>
</template>

<script>
  export default {
    data() {
      return {
        tab: 0,
        steps: 2,
        categories: [
          { name: 'whale', color: '#41ffaf' },
          { name: 'shark', color: '#a279d4' },
          { name: 'swordfish', color: '#41ffaf' },
          { name: 'silverside', color: '#a279d4' },
          { name: 'mojarra', color: '#41ffaf' }
        ]
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-chip {
    border: none !important;
  }

  .v-window {
    background: transparent !important;
  }

  .category-avatar {
    height: auto;
    min-height: auto;
    max-width: 40px;
    border-radius: 0;

    &.mobile {
      max-width: 30px;
    }
  }

  .category-description {
    span {
      line-height: 24px;
    }
  }
</style>