<i18n>
{
  "es": {
    "title": "top 10",
    "header": {
      "position": "Puesto",
      "alias": "Usuario",
      "category": "Categoría",
      "points": "Puntos"
    },
    "more": "Ver más"
  }
}
</i18n>

<template>
  <div
    class="mt-sm-2 mb-0 mb-sm-12 pr-md-6 ranking"
  >
    <template
      v-if="list.length > 0"
    >
      <span
        class="poppins lirio-secondary--text font-weight-bold text-uppercase"
        :class="$vuetify.breakpoint.smAndDown ? 'body-1' : 'title-2'"
      >
        {{ $t('title') }}
      </span>

      <v-row
        class="text-center grey--text text--darken-1 font-weight-regular poppins list-header mt-2"
        :class="[
          {'tablet': $vuetify.breakpoint.smOnly},
          $vuetify.breakpoint.smAndDown ? 'caption-2 mobile' : 'body-1'
        ]"
      >
        <v-col
          cols="2"
        >
          {{ $t('header.position') }}
        </v-col>
        <v-col
          cols="4"
        >
          {{ $t('header.alias') }}
        </v-col>
        <v-col
          cols="3"
        >
          {{ $t('header.category') }}
        </v-col>
        <v-col
          cols="3"
        >
          {{ $t('header.points') }}
        </v-col>
      </v-row>

      <div
        :class="!$vuetify.breakpoint.xs ? 'scroll mt-4' : ''"
        :ref="!$vuetify.breakpoint.xs ? 'scroll' : null"
      >
        <div class="inner-scroll">
          <template
            v-for="(item, index) in list"
          >
            <v-row
              class="list-item d-flex align-center justify-center animate-showup"
              :class="[
                {'selected': isCurrentUser(item.attributes.user_id)},
                'animate-delay-' + (index + 1)
              ]"
              :key="index"
            >
              <v-col
                cols="2"
                class="text-center lirio-secondary--text font-weight-bold"
                :class="$vuetify.breakpoint.smAndDown ? 'body-1' : 'title'"
              >
                <span
                  class="d-block ml-n1"
                >
                  {{ index + 1 }}°
                </span>
              </v-col>
              <v-col
                cols="1"
                class="py-2 py-md-4"
              >
                <v-avatar
                  size="32"
                  class="ml-n6 ml-md-n4"
                >
                  <v-img
                    :src="item.attributes.user_photo"
                    :alt="item.attributes.user_alias"
                    :lazy-src="getLazyUserAvatar()"
                  ></v-img>
                </v-avatar>
              </v-col>
              <v-col
                cols="3"
                class="font-weight-bold pr-0"
                :class="$vuetify.breakpoint.smAndDown ? 'caption' : 'subtitle-1'"
              >
                <span
                  class="d-block ml-n4"
                  :class="{'text-truncate': $vuetify.breakpoint.smAndDown}"
                >
                  {{ item.attributes.user_alias }}
                </span>
              </v-col>
              <v-col
                cols="3"
              >
                <v-img
                  :src="require('../../../assets/images/ranking/categories/' + getRankingCategory(item.attributes.image) + '.svg')"
                  :width="$vuetify.breakpoint.smAndDown ? 27 : 38"
                  class="mx-auto mr-2 mr-sm-auto"
                ></v-img>
              </v-col>
              <v-col
                cols="3"
                class="text-center font-weight-bold"
                :class="$vuetify.breakpoint.smAndDown ? 'body-1' : 'subtitle-1'"
              >
                {{ parseInt(item.attributes.total_score).toLocaleString("es") }}
              </v-col>
            </v-row>
          </template>
        </div>

        <div
          v-if="$vuetify.breakpoint.xs"
        >
          <div
            v-if="loadingNextPage"
            class="d-flex justify-center align-center pt-8 pb-4"
          >
            <v-progress-circular
              :size="28"
              color="primary"
              indeterminate
            ></v-progress-circular>
          </div>

          <div
            v-else
          >
            <a
              class="d-inline-block body-1 font-weight-bold text-decoration-underline mt-10 mb-4"
              @click="$emit('getNextPage')"
            >
              {{ $t('more') }}
            </a>
          </div>
        </div>

        <div
          v-else
          class="d-flex justify-center align-center pt-8 pb-4"
        > 
          <v-progress-circular
            :size="28"
            color="primary"
            indeterminate
          ></v-progress-circular>
        </div>
      </div>
    </template>

    <template
      v-else
    >
      <div
        class="loader-container d-flex justify-center align-center"
      > 
        <v-progress-circular
          :size="32"
          color="primary"
          indeterminate
        ></v-progress-circular>
      </div>
    </template>
  </div>
</template>

<script>
  import { getRankingCategory, getLazyUserAvatar } from '../../../helpers';
  import { mapState } from 'vuex';

  export default {
    props: {
      list: {
        required: true
      }
    },

    computed: {
      ...mapState('user', [
        'userId'
      ]),

      ...mapState('ranking', [
        'loadingNextPage'
      ])
    },

    methods: {
      getRankingCategory,
      getLazyUserAvatar,

      isCurrentUser(id) {
        return this.userId.toString() === id.toString();
      },

      scroll(event) {
        let gap = 350;
        let scrollTop = event.target.scrollTop;
        let offsetHeight = event.target.scrollHeight - event.target.offsetHeight;

        if(scrollTop > (offsetHeight - gap)) {
          this.$emit('getNextPage');
        }
      }
    },

    watch: {
      list(v) {
        if(v.length > 0) {
          setTimeout(() => {
            this.$refs.scroll.addEventListener('scroll', this.scroll);
          }, 150);
        }
      }
    }
  }
</script>

<style lang="scss" scoped>

  .ranking {
    overflow: hidden;
  
    /* width */
    ::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      background: rgba(0, 0, 0, 0);
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      border-radius: 3px;
      background: rgb(0, 0, 0, 0.3);
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: rgb(0, 0, 0, 0.6);
    }

    .list-header:not(.tablet) {
      .col {
        position: relative;

        &:not(:last-child) {
          &::after {
            content: '';
            border-right: 1px solid #757575;
            top: 35%;
            left: 0;
            position: absolute;
            width: 100%;
            height: 30%;
          }
        }
      }
    }

    .scroll {
      height: 590px;
      overflow-x: hidden;
      overflow-y: scroll;
      scrollbar-color: gray transparent;
      scrollbar-width: thin;
    }

    .list-item {
      border-bottom: 2px solid rgba(0, 0, 0, .1);

      /*
      &:last-child {
        border-bottom: 2px dotted rgba(0, 0, 0, .3);
        margin-bottom: 50px;
      }
      */
      

      &.selected {
        background-color: rgb(65, 255, 175, .2) !important;
      }
    }

    .loader-container {
      min-height: 670px;
    }
  }

  // Show Up animation
  @keyframes showup {
    0% {
      transform: translateY(40px) scale(1.4);
    }

    100% {
      opacity: 1;
      transform: translateY(0) scale(1);
    }
  }

  .animate-showup {
    opacity: 0;
    transform: translateY(40px) scale(1.4);
    transform-origin: top center;
    animation: showup .4s cubic-bezier(0.65, 0, 0.35, 1) forwards;
  }

  @for $i from 0 through 11 {
    .animate-delay-#{$i + 1} { animation-delay: #{$i/10}s; }
  }
</style>