<i18n>
{
  "es": {
    "position": "Posición {position}",
    "position_total": "de {total}",
    "position_count": "Te faltan {count} posiciones para subir de nivel",
    "position_max": "Sos un maestro. Llegaste al máximo nivel",
    "categories": {
      "whale": "Ballena | Maestro",
      "shark": "Tiburón | Experto",
      "swordfish": "Pez Espada | Principiante",
      "silverside": "Pejerrey | Aprendiz",
      "mojarra": "Mojarra | Novato"
    }
  }
}
</i18n>

<template>
  <v-card
    class="elevation-0 rounded-lg"
  >
    <v-card-text
      class="pa-0 d-flex"
    >
      <v-row
        no-gutters
      >
        <v-col
          cols="12"
          md="4"
          class="d-flex align-center black pa-3 pa-sm-5 pl-5 pl-sm-8"
          :class="{'justify-center': !userLoaded}"
        >
          <template
            v-if="!userLoaded"
          >
            <v-progress-circular
              :size="32"
              color="primary"
              class="mx-auto"
              indeterminate
            ></v-progress-circular>
          </template>

          <template
            v-else
          >
            <v-avatar
              :size="$vuetify.breakpoint.xs ? 40 : 64"
            >
              <img
                :src="user.user_photo"
                :alt="user.user_alias"
              >
            </v-avatar>

            <div
              class="ml-4"
            >
              <span
                class="white--text font-weight-bold"
                :class="$vuetify.breakpoint.xs ? 'title-3' : 'title'"
              >
                {{ user.user_alias }}
              </span>

              <span
                class="poppins font-weight-medium dianthus-400--text d-sm-block mt-n2"
                :class="$vuetify.breakpoint.xs ? 'body-1' : 'subtitle-1'"
              >
                {{ $t('position', { position: parseInt(user.ranking) }) }}

                <span
                  v-if="total && !$vuetify.breakpoint.xs"
                >
                  {{ $t('position_total', { total: parseInt(total) }) }}
                </span>
              </span>
            </div>
          </template>
        </v-col>

        <v-col
          cols="12"
          md="8"
          class="d-flex align-center lirio-secondary py-4 py-sm-5 px-5 px-sm-8"
          :class="{'justify-center': !userLoaded}"
        >
          <template
            v-if="!userLoaded"
          >
            <v-progress-circular
              :size="32"
              color="primary"
              class="mx-auto"
              indeterminate
            ></v-progress-circular>
          </template>

          <template
            v-else
          >
            <div
              v-if="user.image"
            >
              <v-img
                :src="require('../../../assets/images/ranking/categories/' + getRankingCategory(user.image) + '.svg')"
                :width="$vuetify.breakpoint.xs ? 40 : 80"
                class="shake"
              ></v-img>
            </div>

            <div
              class="ml-4"
            >
              <span
                class="d-block poppins font-weight-medium white--text mt-md-1"
                :class="$vuetify.breakpoint.xs ? 'caption-2' : 'subtitle-1'"
              >
                {{ $t('categories.' + user.image) }}
                
                <span
                  class="dianthus-400--text ml-2"
                >
                  {{ parseInt(user.total_score).toLocaleString("es") }} Puntos
                </span>
              </span>

              <span
                class="d-block mt-sm-n1 white--text"
                :class="$vuetify.breakpoint.xs ? 'caption-2' : 'body-1'"
              >
                <template
                  v-if="getRankingCategory(user.image) === 'whale'"
                >
                  {{ $t('position_max') }}
                </template>
                
                <template
                  v-else
                >
                  {{ $t('position_count', { count: parseInt(user.count_positions) }) }}
                </template>
              </span>
            </div>

            <v-spacer></v-spacer>

            <div
              class="likes-container d-flex align-center"
            >
              <img
                :src="require('../../../assets/images/ranking/comments.png')"
                class="mt-1 mr-2"
              />

              <span
                class="title-3 white--text"
              >
                {{ parseInt(user.total_comments) }}
              </span>

              <img
                :src="require('../../../assets/images/ranking/likes.png')"
                class="mt-n3 mr-2 ml-4"
              />

              <span
                class="title-3 white--text"
              >
                {{ parseInt(user.positive_comments) }}
              </span>

              <img
                :src="require('../../../assets/images/ranking/dislikes.png')"
                class="mt-2 mr-2 ml-4"
              />
              
              <span
                class="title-3 white--text"
              >
                {{ parseInt(user.negative_comments) }}
              </span>
            </div>
          </template>
        </v-col>
      </v-row>
    </v-card-text>
  </v-card>
</template>

<script>
  import { getRankingCategory } from '../../../helpers';

  export default {
    props: {
      user: {
        required: true
      },
      total: {
        required: true
      }
    },

    computed: {
      userLoaded() {
        return Object.keys(this.user).length > 0;
      }
    },

    methods: {
      getRankingCategory
    }
  }
</script>

<style lang="scss" scoped>
  .v-card {
    overflow: hidden;

    .v-card__text {
      min-height: 110px !important;
      
      .likes-container {
        
        @media screen and (max-width: 768px) {
          display: none !important;
        }
      }
    }
  }

  // Shake animation
  @keyframes shake-animation {
    0% {
      transform: translate(0,0) rotate(0deg)
    }

    2% {
      transform: translate(-3px,0) rotate(3deg)
    }

    6% {
      transform: translate(3px,0) rotate(-3deg)
    }

    10% {
      transform: translate(-3px,0) rotate(3deg)
    }

    12% {
      transform: translate(0,0) rotate(0deg)
    }

    100% {
      transform: translate(0,0) rotate(0deg)
    }
  }

  .shake {
    animation: shake-animation 6s ease infinite;
    transform-origin: center center;
  }
</style>