<template>
  <div>
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          class="pt-6 pt-sm-12 pb-6"
        >
          <v-col
            cols="3"
            class="d-none d-md-block"
          >
            <preview></preview>
          </v-col>

          <v-col
            cols="12"
            md="9"
          >
            <creation-form></creation-form>
          </v-col>
        </v-row>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  import { mapActions } from 'vuex';
  import Preview from '../components/Preview';
  import CreationForm from '../components/CreationForm';

  export default {
    components: {
      Preview,
      CreationForm
    },

    methods: {
      ...mapActions('giftcard', [
        'validateUser'
      ])
    },

    created() {
      this.validateUser().then((response) => {
        if(!response || response.message !== 'valid') {
          this.$router.push('/giftcard?validation=' + response.code);
        }
      });
    }
  }
</script>