<i18n>
{
  "es": {
    "header": {
      "title": "SocioGift - SeSocio.com",
      "description": "Regala libertad financiera. Regala SocioGift",
      "meta": {
        "title": "SeSocio.com - SocioGift",
        "description": "Regala libertad financiera. Regala SocioGift",
        "siteName": "SeSocio.com"
      }
    }
  },
  "es-AR": {
    "header": {
      "title": "SocioGift - SeSocio.com",
      "description": "Regalá libertad financiera. Regalá SocioGift",
      "meta": {
        "title": "SeSocio.com - SocioGift",
        "description": "Regalá libertad financiera. Regalá SocioGift",
        "siteName": "SeSocio.com"
      }
    }
  },
  "en": {
    "header": {
      "title": "SocioGift - SeSocio.com",
      "description": "",
      "meta": {
        "title": "SeSocio.com - SocioGift",
        "description": "",
        "siteName": "SeSocio.com"
      }
    }
  }
}
</i18n>

<template>
  <div>
    <template v-if="isLoggedIn">
      <LoggedIn></LoggedIn>
    </template>
    <template v-else>
      <NotLoggedIn></NotLoggedIn>
    </template>
  </div>
</template>

<script>
  import { mapState } from "vuex";
  import LoggedIn from "./LoggedIn";
  import NotLoggedIn from "./NotLoggedIn";

  export default {
    components: {
      LoggedIn,
      NotLoggedIn
    },

    head: {
      title: function () {
        return {
          inner: this.$t('header.title')
        }
      },

      meta: function () {
        return [
          { property: 'og:title', content: this.$t('header.meta.title'), id: 'ogtitle' },
          { property: 'og:description', content: this.$t('header.meta.description'), id: 'ogdesc' },
          { property: 'og:site_name', content: this.$t('header.meta.siteName'), id: 'ogsite' },
          { property: 'og:image', itemprop: 'image', content: 'https://www.sesocio.com' + require('../../../assets/images/giftcard/giftcard_share.png'), id: 'ogimg' },
          { name: 'twitter:image', content: 'https://www.sesocio.com' + require('../../../assets/images/giftcard/giftcard_share.png') },
          { property: 'og:image:width', content: '1080', id: 'ogimgw' },
          { property: 'og:image:height', content: '1080', id: 'ogimgh' },
          { property: 'og:url', content: 'https://www.sesocio.com/giftcard', id: 'ogurl' },
          { property: 'og:type', content: 'website', id: 'ogtype' },
        ]
      }
    },

    computed: {
      ...mapState('user', [
        'isLoggedIn'
      ])
    }
  }
</script>