<i18n>
{
  "es": {
    "give": "Regalar",
    "giftcards": "Ver Gifts",
    "error_title": "Ha ocurrido un error",
    "error_message": "Por favor intenta nuevamente"
  }
}
</i18n>

<template>
  <div>
    <hero></hero>
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          :class="{'px-13 ma-0': $vuetify.breakpoint.xs}"
        >
          <v-col
            cols="12"
            sm="7"
            offset-sm="3"
            :class="$vuetify.breakpoint.xs ? 'mt-n16' : 'custom-offset mt-n12'"
          >
            <v-row>
              <v-col cols="12" sm="6">
                <v-card
                  elevation="0"
                  rounded="xl"
                  class="text-center"
                >
                  <v-card-text
                    class="pt-0 pb-4"
                  >
                    <v-img
                      :src="require('../../../assets/images/giftcard/give-giftcard.jpg')"
                      :height="$vuetify.breakpoint.smAndDown ? 'auto' : 260"
                    ></v-img>
                    <v-btn
                      color="lirio-secondary"
                      class="white--text elevation-0 mt-n6"
                      :width="$vuetify.breakpoint.smAndDown ? 'auto' : 160"
                      :block="$vuetify.breakpoint.smAndDown"
                      :loading="loading"
                      @click="giveGiftCard()"
                    >
                      {{ $t('give') }}
                    </v-btn>
                  </v-card-text>
                </v-card>
              </v-col>
              <v-col cols="12" sm="6">
                <v-card
                  elevation="0"
                  rounded="xl"
                  class="text-center"
                >
                  <v-card-text
                    class="pt-0 pb-4"
                  >
                    <v-img
                      :src="require('../../../assets/images/giftcard/my-giftcards.jpg')"
                      :height="$vuetify.breakpoint.smAndDown ? 'auto' : 260"
                    ></v-img>
                    <v-btn
                      color="lirio-secondary"
                      class="white--text elevation-0 mt-n6"
                      to="/giftcard/mis-giftcards"
                      :width="$vuetify.breakpoint.smAndDown ? 'auto' : 160"
                      :block="$vuetify.breakpoint.smAndDown"
                    >
                      {{ $t('giftcards') }}
                    </v-btn>
                  </v-card-text>
                </v-card>
              </v-col>
            </v-row>
          </v-col>
        </v-row>
      </template>
    </Wrapper>
    <how-it-works></how-it-works>
    <conditions></conditions>
    <verification-dialog :show="valid" :error="code"></verification-dialog>
  </div>
</template>

<script>
  import { mapActions } from "vuex";
  import Hero from "../components/Hero";
  import HowItWorks from "../components/HowItWorks";
  import Conditions from "../components/Conditions";
  import VerificationDialog from "../components/VerificationDialog";

  export default {
    components: {
      Hero,
      HowItWorks,
      Conditions,
      VerificationDialog
    },

    data() {
      return {
        loading: false,
        valid: { dialog: false },
        codes: [0, 1, 2, 3, 4, 5, 6, 7],
        code: 0
      }
    },

    methods: {
      ...mapActions('snackbar', [
        'showSnackbar'
      ]),

      ...mapActions('giftcard', [
        'validateUser'
      ]),

      giveGiftCard() {
        this.loading = true;

        this.validateUser().then((response) => {
          if(response && response.message === 'valid') {
            this.$router.push('/giftcard/regalar');
            return;
          } else if(response && response.message === 'not_valid') {
            if(this.codes.includes(response.error_code)) {
              this.code = response.error_code
              this.valid.dialog = true;
              this.loading = false;
              return;
            }
          }

          this.loading = false;
          this.showSnackbar({
            title: this.$t('error_title'),
            message: this.$t('error_message')
          });
        }).catch(() => {
          this.loading = false;          
          this.showSnackbar({
            title: this.$t('error_title'),
            message: this.$t('error_message')
          });
        });
      }
    },

    created() {
      if(this.$route.query.hasOwnProperty('validation') && this.codes.includes(parseInt(this.$route.query.validation))) {
        this.code = parseInt(this.$route.query.validation);
        this.valid.dialog = true;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .v-card {
    overflow: hidden;
  }

  .offset-sm-3.custom-offset {
    margin-left: 20.83% !important;
  }
</style>