<i18n>
{
  "es": {
    "back": "Volver a página principal",
    "title": "Mis SocioGift",
    "no_sent": "Aún no regalaste ninguna SocioGift.",
    "no_received": "Aún no recibiste ninguna SocioGift.",
    "no_sent_button": "¡Regalar!",
    "steps": {
      "step_1": "Recibidas",
      "step_2": "Enviadas"
    }
  },
  "es-AR": {
    "back": "Volver a página principal",
    "title": "Mis SocioGift",
    "no_sent": "Aún no regalaste ninguna SocioGift.",
    "no_received": "Aún no recibiste ninguna SocioGift.",
    "no_sent_button": "¡Regalar!",
    "steps": {
      "step_1": "Recibidas",
      "step_2": "Enviadas"
    }
  },
  "en": {
    "back": "Volver a página principal",
    "title": "Mis SocioGift",
    "no_sent": "Aún no regalaste ninguna SocioGift.",
    "no_received": "Aún no recibiste ninguna SocioGift.",
    "no_sent_button": "¡Regalar!",
    "steps": {
      "step_1": "Recibidas",
      "step_2": "Enviadas"
    }
  }
}
</i18n>

<template>
  <div>
    <hero></hero>

    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          no-gutters
        >
          <v-col
            cols="12"
            class="pt-8"
          >
            <router-link
              to="/giftcard"
              class="subtitle-1 black--text text-decoration-none"
            >
              <v-icon
                color="black"
                size="26"
                class="mt-n1 ml-n2"
              >
                mdi-menu-left
              </v-icon>

              <span>
                {{ $t('back') }}
              </span>
            </router-link>

            <h1
              class="poppins custom-subtitle custom-color font-weight-black mt-8"
            >
              {{ $t('title') }}
            </h1>
          </v-col>
        </v-row>

        <v-row
          no-gutters
        >
          <v-col
            cols="12"
            class="py-12"
          >
            <v-chip-group
              column
              mandatory
            >
              <v-chip
                link
                class="rounded-pill mr-3"
                v-for="n in steps"
                :color="n-1 !== tab ? 'grey lighten-2' : 'lirio-secondary'"
                :class="[
                  n-1 !== tab ? 'black--text' : 'white--text',
                  $vuetify.breakpoint.xs ? 'caption-2 px-3 py-2' : 'subtitle-3 px-8 py-3'
                ]"
                :key="'chip' + n"
                @click="tab = n-1"
              >
                {{ $t('steps.step_' + n) }}
              </v-chip>
            </v-chip-group>

            <v-tabs-items
              mandatory
              v-model="tab"
              class="my-6"
            >
              <v-tab-item>
                <template
                  v-if="loading"
                >
                  <div
                    class="loader-container d-flex justify-center align-center py-16"
                  > 
                    <v-progress-circular
                      :size="32"
                      color="primary"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                </template>

                <template
                  v-else
                >
                  <template
                    v-if="giftcards.received && giftcards.received.length > 0"
                  >
                    <gift-card-list-item
                      v-for="(item, index) in giftcards.received"
                      :key="'received_' + index"
                      :type="'received'"
                      :giftcard="item"
                      @redeemSuccess="redeemSuccess"
                    ></gift-card-list-item>
                  </template>

                  <template
                    v-else
                  >
                    <span
                      class="d-block mt-6"
                    >
                      {{ $t('no_received') }}
                    </span>
                  </template>
                </template>
              </v-tab-item>

              <v-tab-item>
                <template
                  v-if="loading"
                >
                  <div
                    class="loader-container d-flex justify-center align-center py-16"
                  > 
                    <v-progress-circular
                      :size="32"
                      color="primary"
                      indeterminate
                    ></v-progress-circular>
                  </div>
                </template>

                <template
                  v-else
                >
                  <template
                    v-if="giftcards.sent && giftcards.sent.length > 0"
                  >
                    <gift-card-list-item
                      v-for="(item, index) in giftcards.sent"
                      :key="'sent_' + index"
                      :type="'sent'"
                      :giftcard="item"
                    ></gift-card-list-item>
                  </template>

                  <template
                    v-else
                  >
                    <span
                      class="d-block mt-6"
                    >
                      {{ $t('no_sent') }}

                      <template
                        v-if="validUser"
                      >
                        <a
                          class="lirio-secondary--text font-weight-bold"
                          @click="$router.push('/giftcard/regalar')"
                        >
                          {{ $t('no_sent_button') }}
                        </a>
                      </template>
                    </span>
                  </template>
                </template>
              </v-tab-item>
            </v-tabs-items>
          </v-col>
        </v-row>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  import { mapState, mapActions } from "vuex";
  import Hero from "../components/Hero";
  import GiftCardListItem from "../components/GiftCardListItem"

  export default {
    components: {
      Hero,
      GiftCardListItem
    },

    data() {
      return {
        tab: 0,
        steps: 2,
        validUser: false,
        loading: true
      }
    },

    computed: {
      ...mapState('giftcard', [
        'giftcards'
      ])
    },

    methods: {
      ...mapActions('giftcard', [
        'getGiftCards'
      ]),

      ...mapActions('giftcard', [
        'validateUser'
      ]),

      redeemSuccess() {
        this.loading = false;
        this.getGiftCards().then(() => {
          this.loading = false;
        });
      }
    },

    created() {
      this.getGiftCards().then(() => {
        this.loading = false;
      });

      this.validateUser().then((response) => {
        if(response && response.message === 'valid') {
          this.validUser = true;
        }
      });
    }
  }
</script>

<style lang="scss" scoped>
  .custom-subtitle {
    font-size: 24px;

    &.mobile {
      font-size: 19px;
    }
  }

  .custom-color {
    color: #3b3735 !important;
  }

  .v-chip--outlined {
    border-style: none !important;
  }

  .v-window {
    background: transparent !important;
    overflow: visible !important;
  }
</style>