<template>
  <div>
    <hero></hero>
    <how-it-works></how-it-works>
    <conditions></conditions>
  </div>
</template>

<script>
  import Hero from "../components/Hero";
  import HowItWorks from "../components/HowItWorks";
  import Conditions from "../components/Conditions";

  export default {
    components: {
      Hero,
      HowItWorks,
      Conditions
    }
  }
</script>