<i18n>
{
  "es": {
    "new": "Nuevo",
    "chapters": "Sin capítulos | {c} capítulo | {c} capítulos"
  }
}
</i18n>

<template>
  <div
    class="scard-container"
  >
    <v-card
      :ripple="false"
      :to="item.externalLink ? null : item.link"
      :href="item.externalLink ? item.link : null"
      :target="item.externalLink ? '_blank' : null"
      :max-width="cardSize"
      :min-width="cardSize"
      :class="[
        hideDetails ? 'rounded-xl' : 'rounded-lg'
      ]"
    >
      <div
        class="image-container"
      >
        <div
          class="floating-chips"
        >
          <div
            v-if="item.new"
          >
            <v-chip
              small
              color="hortensia-primary"
            >
              <span
                class="white--text caption-2"
              >
                {{ $t('new') }}
              </span>
            </v-chip>
          </div>

          <div
            v-if="item.chapters > 0"
          >
            <v-chip
              small
              color="lavanda-primary"
              class="ml-2"
            >
              <span
                class="white--text caption-2"
              >
                {{ $tc('chapters', item.chapters, { c: item.chapters }) }}
              </span>
            </v-chip>
          </div>
        </div>

        <v-img
          :src="item.image"
          :height="imageSize"
        ></v-img>
      </div>

      <div
        v-if="!hideDetails && !onlyTitle"
      >
        <v-card-title
          class="d-block text-truncate font-weight-bold"
          :class="$vuetify.breakpoint.xs ? 'title-3' : 'title'"
        >
          {{ item.title }}
        </v-card-title>

        <v-card-subtitle
          :class="$vuetify.breakpoint.xs ? 'body-2' : 'body-1'"
        >
          <div>
            {{ item.description }}
          </div>
        </v-card-subtitle>
      </div>

      <div
        v-if="onlyTitle"
      >
        <v-card-title
          class="d-block text-truncate font-weight-bold"
          :class="$vuetify.breakpoint.xs ? 'title-3' : 'title'"
        >
          {{ item.title }}
        </v-card-title>
      </div>
    </v-card>

    <template
      v-if="multiple"
    >
      <div class="multiple"></div>
      <div class="multiple-last"></div>
    </template>
  </div>
</template>

<script>
  export default {
    props: {
      item: { required: true },
      small: { default: false },
      multiple: { default: false },
      hideDetails: { default: false },
      onlyTitle: { default: false },
      autoWidth: { default: false },
    },

    computed: {
      imageSize() {
        return this.hideDetails || this.onlyTitle
          ? this.small ? 180 : this.$vuetify.breakpoint.xs ? 190 : 235
          : this.small ? 250 : this.$vuetify.breakpoint.xs ? 280 : 345;
      },

      cardSize() {
        /*return this.autoWidth
          ? null
          : this.$vuetify.breakpoint.xs ? 280 : 350*/
        return this.autoWidth ? null : 258;
      }
    }
  }
</script>

<style lang="scss" scoped>
  .scard-container { 
    position: relative;

    .multiple,
    .multiple-last {
      position: absolute;
      height: 100%;
      background: white;
      border-radius: 10px;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2) !important;
    }

    .multiple {
      width: calc(100% - 16px);
      top: 10px;
      left: 8px;
      z-index: 2;
    }

    .multiple-last {
      width: calc(100% - 50px);
      top: 20px;
      left: 25px;
      z-index: 1;
    }

    .v-card {
      z-index: 10;
      box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.2) !important;

      &.rounded-xl {
        border-radius: 20px !important;
      }

      &.rounded-lg {
        border-radius: 10px !important;
      }

      .v-card__subtitle div {
        height: 70px;
        line-height: 22px !important;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        display: -webkit-box;
      }

      .image-container {
        overflow: hidden;
        position: relative;

        .floating-chips {
          position: absolute;
          top: 10px;
          right: 10px;
          z-index: 10;

          div {
            display: inline-block;
          }
        }
      }
    }
  }
</style>