<i18n>
{
  "es": {
    "title": "¿Cómo funciona?",
    "items": {
      "item_1": "Refiere a tus amigos y gana 1 IUSD por cada uno.",
      "item_2": "Cada referido suma 5 IUSD al pozo acumulado.",
      "item_3": "Por cada referido se genera un ticket.",
      "item_4": "Una vez por mes se realiza el sorteo del pozo.",
      "item_5": "<strong>¡Más amigos refieres, más chances tienes de ganar!</strong>"
    }
  },
  "es-AR": {
    "title": "¿Cómo funciona?",
    "items": {
      "item_1": "Referí a tus amigos y ganá 1 IUSD por cada uno.",
      "item_2": "Cada referido suma 5 IUSD al pozo acumulado.",
      "item_3": "Por cada referido se genera un ticket.",
      "item_4": "Una vez por mes se realiza el sorteo del pozo.",
      "item_5": "<strong>¡Más amigos referís, más chances tenés de ganar!</strong>"
    }
  },
  "en": {
    "title": "¿Cómo funciona?",
    "items": {
      "item_1": "Referí a tus amigos y ganá 1 IUSD por cada uno.",
      "item_2": "Cada referido suma 5 IUSD al pozo acumulado.",
      "item_3": "Por cada referido se genera un ticket.",
      "item_4": "Una vez por mes se realiza el sorteo del pozo.",
      "item_5": "<strong>¡Más amigos referís, más chances tenés de ganar!</strong>"
    }
  }
}
</i18n>

<template>
  <div
    class="grey lighten-4"
  >
    <Wrapper>
      <template
        slot="content"
      >
        <v-row
          class="pt-2"
        >
          <v-col
            align="center"
            justify="center"
            class="d-flex"
            :class="$vuetify.breakpoint.xs ? 'pt-10 pl-6' : 'pt-16'"
          >
            <img
              :src="getImage('icon-how-it-works.png')" 
              :width="$vuetify.breakpoint.xs ? 36 : 'auto'"
            />
            <h1
              data-testid="title"
              class="mt-1 ml-3"
              :class="$vuetify.breakpoint.xs ? 'headline' : 'display-1'"
            >
              {{ $t('title') }}
            </h1>
          </v-col>
        </v-row>
        <v-row>
          <v-col
            v-if="!$vuetify.breakpoint.smAndDown"
            cols="12"
            md="6"
          >
            <div
              class="desktop-composition-left mt-10"
            >
              <img :src="getImage('desktop-pattern-hiw.svg')" />
              <img :src="getImage('cross-lavanda.svg')" class="cross" />
              <img :src="getImage('dots-gradient.png')" class="dots" />
            </div>
          </v-col>
          <v-col
            cols="12"
            md="6"
          >
            <div
              v-if="!$vuetify.breakpoint.smAndDown"
              class="desktop-composition-right mt-10"
            >
              <img :src="getImage('shape-lavanda.svg')" class="shape-left" />
              <img :src="getImage('shape-lavanda.svg')" class="shape-right" />
              <img :src="getImage('cross-lavanda.svg')" class="cross" />
              <img :src="getImage('dots-gradient.png')" class="dots" />
              <img :src="getImage('cash-box.png')" class="cash" />
            </div>

            <ul
              class="ma-0 pa-0"
              :class="[
                $vuetify.breakpoint.xs ? 'body-2 pl-4' : 'headline-secondary',
                $vuetify.breakpoint.smAndDown ? 'ml-4' : ' ml-n6 pt-14'
              ]"
              :style="'list-style-image:url(' + getListStyle() + ')'"
            >
              <li
                class="mb-5"
                v-for="n in 5"
                v-html="$t('items.item_' + n)"
                data-testid="list-item"
              ></li>
            </ul>

            <div
              v-if="$vuetify.breakpoint.smAndDown"
              class="mt-n12 text-center"
            >
              <img :src="getImage('mobile-pattern-hiw.png')" />
            </div>
          </v-col>
        </v-row>
      </template>
    </Wrapper>
  </div>
</template>

<script>
  export default {
    methods: {
      getListStyle() {
        return this.getImage(this.$vuetify.breakpoint.smAndDown ? 'mobile-bullet.png' : 'sphere-small.png');
      },

      getImage(image) {
        return require('../../../../assets/images/referral/' + image);
      }
    }
  }
</script>

<style lang="scss" scoped>
  ::v-deep ul {
    position: relative;

    li {
      font-family: 'Nunito' !important;
    }
  }

  .desktop-composition-left {
    position: relative;
    margin-bottom: 140px;

    .cross {
      position: absolute;
      left: -10px;
      bottom: -50px;
      transform: rotate(15deg);
    }

    .dots {
      position: absolute;
      bottom: -50px;
      right: 100px;
    }
  }

  .desktop-composition-right {
    position: relative;

    .shape-left {
      position: absolute;
      top: 5px;
      left: -110px;
    }

    .shape-right {
      position: absolute;
      transform: rotate(180deg);
      top: 210px;
      right: 0;
    }

    .cross {
      position: absolute;
      top: 430px;
      right: 140px;
    }

    .dots {
      position: absolute;
      top: -80px;
      left: 50px;
    }

    .cash {
      position: absolute;
      top: -110px;
      right: 0;
    }
  }
</style>