<i18n>
{
  "es": {
    "title": "Requisitos",
    "first": "Para participar cada referido deberá tener:",
    "second": "Aprobada su documentación",
    "third": "Cargar saldo (sin monto mínimo)"
  },
  "en": {
    "title": "Requisitos",
    "first": "Para participar cada referido deberá tener:",
    "second": "Aprobada su documentación",
    "third": "Cargar saldo (sin monto mínimo)"
  }
}
</i18n>

<template>
  <div
    class="requirements"
  >
    <Wrapper
      mainContainerClass="bgTransparent"
    >
      <template
        slot="content"
      >
        <v-row
          class="pt-2"
          :class="{'title-mobile': $vuetify.breakpoint.xs}"
        >
          <v-col
            align="center"
            justify="center"
            class="d-flex pt-16"
          >
            <img
              :src="getImage('icon-requirements.png')"
              :width="$vuetify.breakpoint.xs ? 50 : 'auto'"
              :class="$vuetify.breakpoint.xs ? 'ml-4' : 'ml-n4'"
            />
            <h1
              data-testid="title"
              class="mt-3 ml-1"
              :class="$vuetify.breakpoint.xs ? 'headline' : 'display-1'"
            >
              {{ $t('title') }}
            </h1>
          </v-col>
        </v-row>

        <v-row>
          <v-col>
            <v-alert
              colored-border
              border="bottom"
              color="dianthus-primary--text"
              class="grey lighten-4 mt-2 mb-16 py-8"
            >
              <v-row class="my-3">
                <v-col
                  cols="12"
                  md="5"
                  lg="5"
                  class="d-flex align-center justify-center"
                >
                  <div
                    :class="$vuetify.breakpoint.xs ? 'body-1 mt-6' : 'req-first'"
                  >
                    {{ $t('first') }}
                  </div>
                </v-col>

                <v-col
                  cols="12"
                  md="3"
                  lg="3"
                  align="center"
                  :class="{'mb-3': $vuetify.breakpoint.xs}"
                >
                  <img :src="getImage('icon-req-ok.png')" />
                  <div
                    data-testid="second"
                    class="body-1 mt-2"
                  >
                    {{ $t('second') }}
                  </div>
                </v-col>

                <v-col
                  cols="12"
                  md="3"
                  lg="3"
                  align="center"
                >
                  <img :src="getImage('icon-req-invest.png')" />
                  <div
                    data-testid="third"
                    class="body-1 mt-2"
                  >
                    {{ $t('third') }}
                  </div>
                </v-col>
              </v-row>
            </v-alert>
          </v-col>
        </v-row>

      </template>
    </Wrapper>
  </div>
</template>

<script>
  export default {
    methods: {
      getImage(image) {
        return require('../../../../assets/images/referral/' + image);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .requirements {
    position: relative;

    .title-mobile {
      position: absolute;
      z-index: 1;
      top: -10px;
      left: 20px;
    }
  }

  .v-alert {
    border-radius: 10px !important;

    ::v-deep .v-alert__wrapper .v-alert__border {
      border-width: 7px !important;
    }
  }

  .req-first {
    font-size: 20px !important;
  }
</style>