<i18n>
{
  "es": {
    "title": "¡Bienvenid@ a Referidos",
    "text": "Registrate y carga saldo para continuar con el programa."
  },
  "en": {
    "title": "¡Bienvenid@ a Referidos",
    "text": "Registrate y carga saldo para continuar con el programa."
  }
}
</i18n>

<template>
  <div>
    <v-snackbar
      :timeout="-1"
      :value="show"
      color="white"
      content-class="pa-6"
      width="250"
      min-width="250"
      elevation="2"
      rounded="lg"
      absolute
      right
      top
      app
    >
      <span
        class="d-block poppins black--text font-weight-bold"
      >
        {{ this.$t('title') }}
      </span>

      <span
        class="poppins black--text"
      >
        {{ this.$t('text') }}
      </span>
    </v-snackbar>
  </div>
</template>

<script>
  export default {
    props: {
      show: {
        default: true
      }
    }
  }
</script>

<style lang="scss" scoped>
  ::v-deep .v-snack {
    position: fixed !important;
    z-index: 100 !important;

    .v-sheet {
      margin-right: 16px !important;
      margin-top: 65px !important;
    }
  }
</style>